/* STYLE 01 */
/*header#header-hero .waveWrapperInner {

	background: #0F2027;
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}
.header:before {
	background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
	background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}
.footer {
	background: -webkit-linear-gradient(180deg, #2C5364, #203A43, #0F2027);
	background: linear-gradient(180deg, #2C5364, #203A43, #0F2027);
}
*/

/* STYLE 02 */
/*header#header-hero .waveWrapperInner {
	background: #43C6AC;
	background: -webkit-linear-gradient(to right, #191654, #43C6AC);
	background: linear-gradient(to right, #191654, #43C6AC);
}
.header:before {
	background: -webkit-linear-gradient(to right, #191654, #43C6AC);
	background: linear-gradient(to right, #191654, #43C6AC);
}
.footer {
	background: -webkit-linear-gradient(to right, #191654, #43C6AC);
	background: linear-gradient(to right, #191654, #43C6AC);
}*/



/* STYLE 03 */
header#header-hero .waveWrapperInner {
	background: #05386B;
	background: -webkit-linear-gradient(30deg, #3500D3, #05386B);
	background: linear-gradient(0deg, #3500D3, #05386B);
}
.header:before {
	background: #05386B;
	background: -webkit-linear-gradient(to right, #3500D3, #05386B);
	background: linear-gradient(to right, #3500D3, #05386B);
}
.footer {
	background: #05386B;
	background: -webkit-linear-gradient(to bottom, #3500D3, #05386B);
	background: linear-gradient(to bottom, #3500D3, #05386B);
}
.footer .footer__rights p {
	color: white !important;
	opacity: .7 !important;
}
.note-card .tag-badge {
	background-color: #05386B;
	opacity: .8;
}
.note-card .tag-badge:hover {
	background-color: #05386B;
	opacity: 1;
}
.orders a {
	color: #05386B;
}
.orders a:hover {
	color: blue;
}
.badge-tag {
	background-color: #005bc9 !important;
	opacity: 0.9;
}
.tag-list .btn {
	background-color: #005bc9;
}
.tag-list .badge {
	background-color: #60CD60 !important;
}
