/* Color style of the website. */

header#header-hero .waveWrapperInner {
	background: #05386B;
	background: -webkit-linear-gradient(30deg, #3500D3, #05386B);
	background: linear-gradient(0deg, #3500D3, #05386B);
}
.header:before {
	background: #05386B;
	background: -webkit-linear-gradient(to right, #30C, #09356F);
	background: linear-gradient(to right, #30C, #09356F);
	opacity: 1;
}
.add_note_link {
	color: #7bc35b !important;
}
.footer {
	background: #05386B;
	background: -webkit-linear-gradient(to bottom, #3500D3, #05386B);
	background: linear-gradient(to bottom, #3500D3, #05386B);
}
.footer .footer__rights p {
	color: white !important;
	opacity: .7 !important;
}
.tag-badge {
	color: white !important;
	background-color: #0dcaf0;
}
.tag-badge:hover {
	color: white !important;
	background-color: #7bc35a;
}
.link-color {
	color: #05386B;
}
.link-color:hover {
	color: blue;
}
.badge-tag {
	background-color: #005bc9 !important;
	opacity: 0.9;
}
.tag-list .btn {
	background-color: #005bc9;
}
.tag-list .badge {
	background-color: #60CD60 !important;
}
