@include-when-export url(https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

/* open-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./github/open-sans-v17-latin-ext_latin-regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* open-sans-italic - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('./github/open-sans-v17-latin-ext_latin-italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* open-sans-700 - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./github/open-sans-v17-latin-ext_latin-700.woff2') format('woff2'); 
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* open-sans-700italic - latin-ext_latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('./github/open-sans-v17-latin-ext_latin-700italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

header#header-hero h1 {
	color: #e8e4eb;
	font-size: 4rem;
	margin: 0;
	font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
	position: absolute;
	top: 30vh;
	left: 25vw;
	letter-spacing: 4px;
	line-height: 1.4;
	z-index: 16;
}

header#header-hero .logoImg {
	position: absolute;
	width: 100px;
}

@media (max-width:719px) {
	header#header-hero .waveTop {
		display: flex;
	}
}

@media (max-width:719px) {
	.logoImg {
		width: 30px;
	}
}

header#header-hero h3 {
	color: #e8e4eb;
	font-weight: 400;
	border: none;
	position: absolute;
	top: 42vh;
	left: 36vw;
	z-index: 16;
}

@media (max-width:719px) {
	header#header-hero h3 {
		font-size: 1rem;
		left: 15vw
	}
}

header#header-hero .waveWrapper {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: -1px;
	height: 75vh;
	margin: 0 auto;
	max-height: 540px;
}

header#header-hero .waveWrapperInner {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100%;
	bottom: -1px;
	/* Colors in css/color_style.css */
}

header#header-hero .bgTop {
	z-index: 15;
	opacity: .5
}

header#header-hero .bgMiddle {
	z-index: 10;
	opacity: .75
}

header#header-hero .bgBottom {
	z-index: 5
}

header#header-hero .wave {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat-x;
	background-position: 0 bottom;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom
}

header#header-hero .waveTop {
	background-size: 50% 100px
}

header#header-hero .waveAnimation .waveTop {
	animation: move-wave 3s;
	-webkit-animation: move-wave 3s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}

header#header-hero .waveMiddle {
	background-size: 50% 120px
}

header#header-hero .waveAnimation .waveMiddle {
	-webkit-animation: move_wave 10s linear infinite;
	animation: move_wave 10s linear infinite
}

header#header-hero .waveBottom {
	background-size: 50% 100px
}

header#header-hero .waveAnimation .waveBottom {
	-webkit-animation: move_wave 15s linear infinite;
	animation: move_wave 15s linear infinite
}

@-webkit-keyframes move_wave {
	0% {
		-webkit-transform: translateX(0) translateZ(0) scaleY(1);
		transform: translateX(0) translateZ(0) scaleY(1)
	}
	50% {
		-webkit-transform: translateX(-25%) translateZ(0) scaleY(.55);
		transform: translateX(-25%) translateZ(0) scaleY(.55)
	}
	to {
		-webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
		transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}

@keyframes move_wave {
	0% {
		-webkit-transform: translateX(0) translateZ(0) scaleY(1);
		transform: translateX(0) translateZ(0) scaleY(1)
	}
	50% {
		-webkit-transform: translateX(-25%) translateZ(0) scaleY(.55);
		transform: translateX(-25%) translateZ(0) scaleY(.55)
	}
	to {
		-webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
		transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}


@media (min-height:710px) {
	header#header-hero h1 {
		position: absolute;
		top: 200px;
		left: 30rem;
	}
	header#header-hero h3 {
		position: absolute;
		top: 280px;
		left: 40rem;
	}
	header#header-hero .logoImg {
		position: absolute;
		top: 0px;
		left: 162px;
	}
}

@media (max-width:1240px) and (min-height:710px){
	header#header-hero h1 {
		position: absolute;
		top: 200px;
		left: 20rem;
	}
	header#header-hero h3 {
		position: absolute;
		top: 280px;
		left: 20rem;
	}
	header#header-hero .logoImg {
		position: absolute;
		top: 0px;
		left: 162px;
	}
}

@media (max-width:1000px) and (min-height:710px){
	header#header-hero h1 {
		position: absolute;
		top: 200px;
		left: 8rem;
	}
	header#header-hero h3 {
		position: absolute;
		top: 280px;
		left: 8rem;
	}
	header#header-hero .logoImg {
		position: absolute;
		top: 0px;
		left: 162px;
	}
}