/* General local styles of project */


/* Note card */
.note-card {
	box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
	transition: 1s;
}

.note-card:hover {
	box-shadow: 0 1rem 3rem rgba(0,0,0, .175);
}

.note-card .card-title:hover {
	border-bottom: .1rem solid rgb(45,45,45);
}

.note-card .tag-badge {
	padding: 2px 6px 2px 6px;
	background-color: #009999;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-radius: 7px;
}

.note-card .tag-badge:hover {
	background-color: #00cccc;
}
