/* General local styles of the project. */


/* Header */
.title__logo   {
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.title__logo._active  {
	opacity: 1;
}
.under__title {
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.under__title._active {
	opacity: 0.8;
}
.skip_header {
	padding-top: 570px;
}


/* List notes */
#add_first_note_btn {
	padding-top: 40px;
}
#sidebar_container {
	margin-top: 100px;
}
.sidebar_item_title {
	background-color: aliceblue;
}

/* Note card */
.note-card {
	box-shadow: 0 .5rem 0.5rem rgba(0,0,0, .15);
	transition: 0.3s;
}
.note-card:hover {
	box-shadow: 0 0.75rem 0.75rem rgba(0,0,0, .12);
}
.note-card .card-title {
	font-weight: 400;
}
.note-card .card-title:hover {
	border-bottom: .1rem solid rgb(45,45,45);
}
.note-card .card-body p {
	font-size: 12px;
}
.tag-badge {
	padding: 2px 6px 2px 6px;
	font-size: 12px;
	background-color: #009999;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-radius: 7px;
}
.tag-badge:hover {
	background-color: #00cccc;
}
#background_note_header {
	height: 330px;
	background: #05386B;
	background: -webkit-linear-gradient(30deg, #3500D3, #05386B);
	background: linear-gradient(0deg, #3500D3, #05386B);
	position: absolute;
	left: 0;
  }
  #background_note_header a {
	color: #0dcaf0;
  }
  #background_note_header .container-fluid {
	max-width: 1300px;
  }
#note_header_wave {
	position: absolute;
	left: 0;
	top: 310px;
	width: 100vw;
	padding: 0px;
}
.badge-note {
	max-height: 20px;
	margin-top: 10px;
}
.body-margin {
	margin-top: 350px;
}
@media screen and (min-width: 2300px) {
	#note_header_wave {
	display: none;
	}
}
@media screen and (min-width: 2230px) {
	#background_note_header {
	height: 380px;
	}
}
@media screen and (min-width: 1800px) {
	#background_note_header {
	height: 350px;
	}
}
@media screen and (max-width: 1300px) {
	#background_note_header {
	height: 310px;
	}
}
@media screen and (max-width: 1000px) {
	#background_note_header {
	height: 300px;
	}
}
@media screen and (max-width: 800px) {
	#background_note_header {
	height: 290px;
	}
	#background_note_header .title {
	font-size: 20px !important;
	}
	#background_note_header .summary {
	font-size: 12px !important;
	}
}
@media screen and (max-width: 700px) {
	#note_header_wave {
	display: none;
	}
	#background_note_header {
	height: 370px;
	}
	#background_note_header .lowflex {
	display: flex;
	flex-direction: column;
	}
	.body-margin {
	margin-top: 390px;
	}
}


/* Tag badge on TagList */
.tag-list .btn {
	background-color: rgba(43,80,100, 0.9);
	border: none;
	color: white !important;
	border-radius: 25px;
}
.badge-private {
	margin-top: 2px;
	background-color: red;
	font-size: 10px;
}
.badge-anon {
	margin-top: 2px;
	background-color: gray;
	font-size: 10px;
}
.btn-add-note:hover {
	color: gray;
}


/* Anim effect */
._anim-show {
	transform: translate(0px, 120%);
	opacity: 0;
}
._anim-show._active,
._active ._anim-show {
	transform: translate(0px, 0px);
	opacity: 1;
}


/* Login */
#login_row {
	max-width: 400px;
}
#login_btn {
	min-width: 120px;
}
.social__media ul {
	list-style-type: none;
}
.social__media .login_img {
	width: auto;
	height: 40px;
	transition: 0.5s ease;
}
.social__media .login_img:hover {
	height: 45px !important;
}


/* Profile */
.follow-link:hover {
	color: #0051ff;
}