/* General local styles of project */


/* Note card */
.note-card {
	box-shadow: 0 .5rem 0.5rem rgba(0,0,0, .15);
	transition: 0.2s;
}
.note-card:hover {
	box-shadow: 0 0.75rem 0.75rem rgba(0,0,0, .12);
}
.note-card .card-title {
	font-weight: 400;
}
.note-card .card-title:hover {
	border-bottom: .1rem solid rgb(45,45,45);
}
.note-card .card-body p {
	font-size: 12px;
}
.note-card .tag-badge {
	padding: 2px 6px 2px 6px;
	font-size: 12px;
	background-color: #009999;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-radius: 7px;
}
.note-card .tag-badge:hover {
	background-color: #00cccc;
}
/* Tag badge on TagList */
.tag-list .btn {
	background-color: rgba(43,80,100, 0.9);
	border: none;
	color: white !important;
	border-radius: 25px;
}
.badge-private {
	margin-top: 2px;
	background-color: red;
	font-size: 10px;
}
.badge-anon {
	margin-top: 2px;
	background-color: gray;
	font-size: 10px;
}
