{% extends 'layouts/base.html' %}

{% load static %}
{% load i18n %}


{% block title %}{{ note.title }}{% endblock %}


{% block main %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-8">
            <div class="container-fluid" style="max-width: 700px;">
                <div class="row d-flex justify-content-between">
                    <div class="col-auto me-auto">
                        <table>
                            <tbody>
                                <tr>
                                <td class="pe-3" rowspan="2">
                                    <a class="text-decoration-none text-dark">
                                    <img src="{{ note.author.avatar.url }}" class="rounded-circle" alt="A" width="45" height="45">
                                    </a>
                                </td>
                                <td class="fw-bold">
                                    <a class="text-decoration-none text-dark">{{ note.author.full_name }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-secondary" style="font-size: 0.8rem;">{% trans "Posted on" %} {{ note.created|date:"M j" }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-auto d-flex align-items-center text-secondary">
                        <a href="#" class="text-decoration-none text-dark">
                        <i class="bi bi-twitter twitter-h px-2 color-grey" style="font-size: 1.1rem;"></i>
                        </a>
                        <a href="#" class="text-decoration-none text-dark">
                        <i class="bi bi-whatsapp whatsapp-h px-2 color-grey" style="font-size: 1.1rem;"></i>
                        </a>
                        <a href="#" class="text-decoration-none text-dark">
                        <i class="bi bi-telegram telegram-h px-2 color-grey" style="font-size: 1.1rem;"></i>
                        </a>
                        <button id="copy-note-link" class="btn btn-link text-decoration-none text-dark px-0">
                        <i class="bi bi-link-45deg link-h px-2 color-grey" style="font-size: 1.1rem;"></i>
                        </button>
                        <a href="#" class="text-decoration-none text-dark">
                        <i class="bi bi-bookmark-plus link-h ps-4 color-grey" style="font-size: 1.2rem;"></i>
                        </a>
                        <div class="dropdown">
                            <a class="text-secondary" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots ps-4 color-grey link-h" style="font-size: 1.2rem;"></i></a>
                            <ul class="dropdown-menu">
                                {% if request.user == note.author %}
                                    <li><a class="dropdown-item" href="{% url 'content:edit_note' slug=note.slug %}"><i class="bi bi-pencil-square"></i> {% trans "Edit" %}</a></li>
                                    <li>
                                        <form action="{% url 'content:delete_note' slug=note.slug %}" method="post">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="sumbit" href="#" onclick="return confirm('Are you sure you want to delete the note?');">
                                            <i class="bi bi-trash3"></i> {% trans "Delete" %}
                                        </button>
                                        </form>
                                    </li>
                                {% endif %}
                                <li><a class="dropdown-item" href="#"><i class="bi bi-filetype-pdf"></i> {% trans "Download" %}</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-bezier"></i> {% trans "Fork" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <h2>{{ note.title }}</h2>
                </div>
                <hr>
                {% if note.source %}
                <div class="row">
                    <div class="col">
                        <a href="{% url 'content:source_type' code=note.source.type %}" class="text-decoration-none">
                        <span class="badge text-dark rounded-pill bg-source-{{ note.source.type }} mx-1">{{ note.source.get_readable_type }}</span>
                        </a>
                        <a  href="{{ note.source.get_absolute_url }}" class="text-decoration-none text-dark">
                        <span class="fw-bold text-secondary source-title" >{{ note.source.title }}</span>
                        </a>
                    </div>
                </div>
                {% endif %}
                <div class="row mt-4" style="font-size: 19px; line-height: 33px;">
                    {{ note.body_html|safe }}
                </div>
                <div class="row row-cols-auto d-flex justify-content-between mt-5">
                    <div class="col">
                        <a href="#" class="text-decoration-none text-dark">
                        <span class="text-secondary note-stat p-1 rounded"><i class="bi bi-balloon-heart"></i> 0</span>
                        </a>
                        <a href="#" class="text-decoration-none text-dark pe-3">
                        <span class="text-secondary note-stat p-1 rounded"><i class="bi bi-chat ms-2"></i> 0</span>
                        </a>
                        {% if note.tags %}
                        <a href="#" class="text-decoration-none text-dark">
                        <span class="badge tag rounded-pill text-bg-secondary mx-1">Success</span>
                        </a>
                        <a href="#" class="text-decoration-none text-dark">
                        <span class="badge tag rounded-pill text-bg-secondary mx-1">Success</span>
                        </a>
                        <a href="#" class="text-decoration-none text-dark">
                        <span class="badge tag rounded-pill text-bg-secondary mx-1">Success</span>
                        </a>
                        {% endif %}
                    </div>
                    <div class="col d-md-flex d-none text-secondary">
                        <div class="dropdown">
                            <a class="text-secondary" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-share ps-4 color-grey link-h" style="font-size: 1.2rem;"></i></a>
                            <ul class="dropdown-menu">
                                <li><button id="copy-note-link2" class="btn btn-link dropdown-item"><i class="bi bi-link-45deg"></i> {% trans "Copy link" %}</button></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-whatsapp"></i> WhatsApp</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-telegram"></i> Telegram</a></li>
                            </ul>
                        </div>
                        <a href="#" class="text-decoration-none text-dark">
                        <i class="bi bi-bookmark-plus ps-4 color-grey link-h" style="font-size: 1.2rem;"></i>
                        </a>
                        <div class="dropdown">
                            <a class="text-secondary" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots ps-4 color-grey link-h" style="font-size: 1.2rem;"></i></a>
                            <ul class="dropdown-menu">
                                {% if request.user == note.author %}
                                    <li><a class="dropdown-item" href="{% url 'content:edit_note' slug=note.slug %}"><i class="bi bi-pencil-square"></i> {% trans "Edit" %}</a></li>
                                    <li>
                                        <form action="{% url 'content:delete_note' slug=note.slug %}" method="post">
                                        {% csrf_token %}
                                        <button class="dropdown-item" type="sumbit" href="#" onclick="return confirm('Are you sure you want to delete the note?');">
                                            <i class="bi bi-trash3"></i> {% trans "Delete" %}
                                        </button>
                                        </form>
                                    </li>
                                {% endif %}
                                <li><a class="dropdown-item" href="#"><i class="bi bi-filetype-pdf"></i> {% trans "Download" %}</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi bi-bezier"></i> {% trans "Fork" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="mt-5">
            </div>
        </div>
        <div class="col-lg-3 col-12 px-4">
            <div class="input-group rounded mt-0">
                <span class="input-group-text border-0 bg-white" id="search-addon">
                    <i class="bi bi-search"></i>
                </span>
                <form class="w-75" method="GET" action="{% url 'content:search' type='notes' %}">
                    <input type="search" name="query" class="form-control rounded form-control-sm" placeholder="{% trans "Search" %}" aria-label="Search" aria-describedby="search-addon" />
                </form>
            </div>
            <div class="row mt-5">
                <a class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ note.author.avatar.url }}" class="rounded-circle" alt="A" width="80" height="80">
                </a>
            </div>
            <div class="row mt-3">
                <h5>{{ note.author.full_name }}</h5>
            </div>
            <div class="row">
                <a class="text-decoration-none fs-6 link-h color-grey">0 {% trans "Followers" %}</a>
            </div>
            {% if note.author.bio %}
            <div class="row mt-3">
                <p class="color-grey mb-0" style="font-size: 0.9rem;">{{ note.author.bio }}</p>
            </div>
            {% endif %}
            <div class="row mt-3">
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-success rounded-pill" type="button" disabled>{% trans "Follow" %}</button>
                    <button class="btn btn-success rounded-pill ms-2" type="button" disabled><i class="bi bi-envelope-plus"></i></button>
                </div>
            </div>
            {% include 'layouts/sidebar/more_from_noted.html' %}
            {% include 'layouts/sidebar/footer.html' %}

        </div>
    </div>
</div>
{% endblock %}


{% block extra_scripts %}
<script src="{% static 'js/note_display.js' %}"></script>
{% endblock %}