<!-- Create Note/Source form -->
{% extends 'layouts/base.html' %}

{% load static %}
{% load i18n %}


{% block title %}{% trans "New note" %} - NoteD{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/simplemde.css' %}" >
<link rel="stylesheet" href="{% static 'css/tagsinput.css' %}" >
{% endblock %}


{% block main %}
<div class="container-fluid mt-5">
<form method="POST">
{% csrf_token %}
    <div class="row">
        <div class="col-1 d-lg-block d-none"></div>
        <div class="col-lg-8 col-12">
            <div class="container-fluid" style="max-width: 700px;">
                {% if form.errors %}
                <div id="form-error">
                    <p>{% trans "The operation could not be performed because one or more error(s) occurred" %}.<br />{% trans "Please resubmit the form after making the following changes" %}:</p>
                    <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li class="text-danger">
                                <b>{{ field.label }}</b>: {{ field.errors|striptags }}
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="row">
                    {{ form.title }}
                </div>
                <!-- Button trigger source modal -->
                <button id="add-source-btn" type="button" class="btn btn-success mt-4 rounded-pill btn-sm" data-bs-toggle="modal" data-bs-target="#add-source-modal">
                    {% trans "Add source" %}
                </button>
                <!-- Source modal -->
                <div class="modal fade" id="add-source-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">{% trans "Source" %}</h1>
                        </div>
                        <div class="modal-body container">
                            <div class="row mt-3" id="source-form">
                                <div class="col-lg-1 col-0"></div>
                                <div class="col-lg-2 col-12">
                                    <label class="fs-6 text-secondary" for="id_source_type">{% trans "Source type" %}</label>
                                    {{ form.source_type }}
                                </div>
                                <div class="col-lg-7 col-12 ms-lg-2 ms-0">
                                    <label class="fs-6 text-secondary" for="id_source">{% trans "Sources of information from which you take the note." %}</label>
                                    {{ form.source }}
                                </div>
                                <div class="col-lg-2 col-0"></div>     
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-1 col-0"></div>
                                <div class="col-lg-2 col-12 d-grid">
                                    <button class="btn btn-success btn-sm rounded-pill d-inline mb-lg-0 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLinkInput" aria-expanded="false">
                                        {% trans "Add Link" %}
                                    </button>
                                </div>
                                <div class="col-lg-7 col-12">
                                    <div class="collapse collapse-horizontal" id="collapseLinkInput">
                                        {{ form.source_link }}
                                    </div>
                                </div>
                                <div class="col-lg-2 col-0"></div>  
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-1 col-0"></div>
                                <div class="col-lg-2 col-12 d-grid">
                                    <button class="btn btn-success btn-sm rounded-pill d-inline mb-lg-0 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescriptionInput" aria-expanded="false">
                                        {% trans "Add Description" %}
                                    </button>
                                </div>
                                <div class="col-lg-7 col-12">
                                    <div class="collapse collapse-horizontal" id="collapseDescriptionInput">
                                        {{ form.source_description }}
                                    </div>
                                </div>
                                <div class="col-lg-2 col-0"></div>  
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-1 col-0"></div>
                                <div id="sourses-list" class="col-lg-9 col-12" hidden>
                                    <h4>{% trans "Select an existing source" %}</h4>
                                    <table class="table table-responsive" style="max-height: 300px;">
                                        <thead>
                                            <tr>
                                            <th scope="col">{% trans "Type" %}</th>
                                            <th scope="col">{% trans "Source" %}</th>
                                            <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="sources-output">
                                        </tbody>
                                        </table>
                                </div>
                                <div class="col-lg-2 col-0"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button id="close-source-modal" type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">{% trans "Close" %}</button>
                        <button id="add-source-modal" type="button" class="btn btn-success rounded-pill" data-bs-dismiss="modal">{% trans "Add" %}</button>
                        </div>
                    </div>
                    </div>
                </div>
                <div id="selected-source-hidden" class="row" hidden>
                    <div class="col mt-4 d-flex justify-content-between">
                        <span id="selected-source"></span>
                        <button id="remove-source-btn" class="btn btn-danger btn-sm rounded-pill" type="button">{% trans "Remove" %}</button>
                    </div>
                </div>
                <div class="row mt-4">
                    {{ form.body_raw }}
                </div>
                <div class="row mt-4 form-floating">  
                    {{ form.summary }}
                    <label for="id_summary" class="form-label">{% trans "Summary in 140 symbols..." %}</label>
                </div>
                <div class="row mt-4">  
                    <label class="text-dark">{% trans "Topics" %}</label>
                    {{ form.tags }}
                    <p class="text-secondary">{{ form.tags.help_text }}</p>
                </div>
                <div class="row mt-4">
                    <div class="col px-0 d-flex align-items-center flex-sm-row flex-column-reverse">
                        <button type="submit" name="publish" class="btn btn-success rounded-pill mt-sm-0 mt-3">{% trans "Publish" %}</button>
                        <button id="draft-btn" type="submit" name="savedraft" class="btn rounded-pill ms-2 mt-sm-0 mt-3">{% trans "Save draft" %}</button>
                        {% comment %} <div class="form-check form-switch ms-3 mt-sm-0 mt-3">
                            <input class="form-check-input" type="checkbox" role="switch" id="allow-comments" checked disabled>
                            <label class="form-check-label" for="allow-comments">{% trans "Allow comments" %}</label>
                        </div> {% endcomment %}
                        <div class="form-check form-switch ms-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ form.anonymous.help_text }}">
                            {{ form.anonymous }}
                            <label class="form-check-label" for="id_anonymous">{% trans "Post anonymous" %}</label>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="mb-5"></div>
        </div>
        <div class="col-lg-3 col-12 px-4 d-lg-inline d-none">
            <summary class="text-secondary">
                <a href="https://simplemde.com/markdown-guide" target="_blank" class="text-secondary text-decoration-none">{% trans "Commonly used syntax" %}</a>
            </summary>
            <table id="md-syntax-table" class="text-secondary w-150 mt-2 mb-4">
                <tbody>
                    <tr>
                        <td ># {% trans "Header" %}<br>...<br>###### {% trans "Header" %}</td>
                        <td>H1 {% trans "Header" %}<br>...<br>H6 {% trans "Header" %}</td>
                    </tr>
                    <tr>
                        <td >*{% trans "italics" %}* {% trans "or" %} _{% trans "italics" %}_</td>
                        <td><em>{% trans "italics" %}</em></td>
                    </tr>
                    <tr>
                        <td >**{% trans "bold" %}**</td>
                        <td><strong>{% trans "bold" %}</strong></td>
                    </tr>
                    <tr>
                        <td >[{% trans "Link" %}](https://...)</td>
                        <td><a href="#" class="text-secondary">{% trans "Link" %}</a></td>
                    </tr>
                    <tr>
                        <td >* {% trans "item" %} 1<br>* {% trans "item" %} 2</td>
                        <td>
                            <ul class="list-disc ml-5">
                                <li>{% trans "item" %} 1</li>
                                <li>{% trans "item" %} 2</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td >1. {% trans "item" %} 1<br>2. {% trans "item" %} 2</td>
                        <td>
                            <ol class="list-decimal ml-5">
                                <li>{% trans "item" %} 1</li>
                                <li>{% trans "item" %} 2</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td >&gt; {% trans "quoted text" %}</td>
                        <td><span class="pl-2 border-0 border-solid border-l-2 border-base-50">{% trans "quoted text" %}</span></td>
                    </tr>
                    <tr>
                        <td >`{% trans "inline code" %}`</td>
                        <td><code>{% trans "inline code" %}</code></td>
                    </tr>
                    <tr>
                        <td ><span class="fs-xs">```</span><br>{% trans "code block" %}<br><span class="fs-xs">```</span></td>
                        <td><div class="highlight p-2 overflow-hidden"><code>{% trans "code block" %}</code></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block extra_scripts %}
<span id="get-sources-url" hidden>{% url 'content:search_sources_select' %}</span>
<script src="{% static 'js/simplemde.js' %}"></script>
<script src="{% static 'js/note_create.js' %}"></script>
<script src="{% static 'js/tagsinput.js' %}"></script>
{% endblock %}
