{% extends 'layouts/base.html' %}

{% load static %}
{% load i18n %}


{% block title %}{% trans "Search" %} - NoteD{% endblock %}


{% block main %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-1 col-0"></div>
        <div class="col-lg-8 col-12">
            <div class="container-fluid" style="max-width: 700px;">
                <form class="mb-4 d-lg-none d-block" method="GET" action="{% url 'content:search' type='notes' %}">
                    <input type="search" name="query" class="form-control rounded form-control-sm" placeholder="{% trans "Search" %}" aria-label="Search" aria-describedby="search-addon" />
                </form>
                <h1 class="fw-bold mt-2"><span class="text-secondary">{% trans "Results for" %}</span> {{ query|truncatechars:20 }}</h1>
                <!-- Tabs -->
                <ul class="nav nav-tabs mt-4">
                    <li class="nav-item">
                        <a class="nav-link tablink text-secondary {% if type == 'notes' %}active{% endif %}" aria-current="page" href="{% url 'content:search' type='notes' %}?query={{ query }}">{% trans "Notes" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tablink text-secondary {% if type == 'sources' %}active{% endif %}" href="{% url 'content:search' type='sources' %}?query={{ query }}">{% trans "Sources" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tablink text-secondary {% if type == 'tags' %}active{% endif %}" href="{% url 'content:search' type='tags' %}?query={{ query }}">{% trans "Topics" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tablink text-secondary {% if type == 'people' %}active{% endif %}" href="{% url 'content:search' type='people' %}?query={{ query }}">{% trans "People" %}</a>
                    </li> 
                </ul>
                <!-- Results -->
                {% include  'content/note_list_for_layout.html' %}
                {% include 'content/source_list_layout.html' %}
                {% if tags %}<div class="mt-5"></div>{% endif %}
                {% for tag in tags %}
                <a href="{% url 'tags:tag' slug=tag.slug %}" class="text-decoration-none text-dark">
                <span class="badge tag rounded-pill text-bg-secondary p-3 m-1 fs-6 fw-normal">{{ tag }}</span>
                </a>
                {% endfor %}
                {% for user in users %}
                <div class="row mt-3 mb-3 d-flex align-items-center">
                    <div class="col-2 text-center d-sm-inline d-none">
                        <div><img src="{{ user.profile.avatar.url }}" class="rounded-circle" alt="Avatar" width="60" height="60"></div>
                    </div>
                    <div class="col">
                        <a href="{{ user.get_absolute_url }}" class="fw-bold text-dark text-decoration-none" style="font-size: 1.1rem;">{{ user.full_name }}</a>
                        {% if user.profile.bio %}<div class="text-secondary">{{ user.profile.bio }}</div>{% endif %}
                    </div>
                    <div class="col-2">
                        <a href="#" id="source-add-note-btn" class="btn btn-outline-success rounded-pill disabled">{% trans "Follow" %}</a>
                    </div>
                </div>
                <hr>
                {% endfor %}

                <!-- No results -->
                {% if not notes and not sources and not tags and not users %}
                    <div class="mt-5 text-secondary">{% trans "Make sure all words are spelled correctly." %}</div>
                    <div class="text-secondary">{% trans "Try different keywords." %}</div>
                    <div class="text-secondary">{% trans "Try more general keywords." %}</div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-3 col-12 px-4">
            <div class="input-group rounded mt-5 d-lg-flex d-none">
                <span class="input-group-text border-0 bg-white" id="search-addon">
                    <i class="bi bi-search"></i>
                </span>
                <form class="w-75" method="GET" action="{% url 'content:search' type='notes' %}">
                    <input type="search" name="query" class="form-control rounded form-control-sm" placeholder="{% trans "Search" %}" aria-label="Search" aria-describedby="search-addon" />
                </form>
            </div>
            {% include 'layouts/sidebar/footer.html' %}
        </div>
    </div>
</div>
{% endblock %}


{% block extra_scripts %}
<script>
    
</script>
{% endblock %}