{% load i18n %}
{% load filtersourcetags %}


{% for source in sources %}
<div class="row mt-3 mb-3 d-flex align-items-center">
    <div class="col-2 text-center d-sm-inline d-none">
        <div>{{ source.type|icon:"1.8rem" }}</div>
    </div>
    <div class="col">
        <a href="{{ source.get_absolute_url }}" class="fw-bold text-dark text-decoration-none" style="font-size: 1.1rem;">{{ source.title }}</a>
        {% if source.description %}<div class="text-secondary">{{ source.description }}</div>{% endif %}
        <div class="d-sm-none d-block"><span class="badge bg-success mt-3 rounded-pill">{{ source.type|readabletype }}</span></div>
    </div>
    <div class="col-2">
        <a id="source-add-note-btn" class="btn btn-outline-success rounded-pill d-sm-block d-none" {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#signin"{% else %}href="{% url 'content:create_note' %}?source={{ source.slug }}"{% endif %}>{% trans "Add Note" %}</a>
        <a class="btn btn-outline-success rounded-pill d-sm-none d-block" {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#signin"{% else %}href="{% url 'content:create_note' %}?source={{ source.slug }}"{% endif %}><i class="bi bi-pencil-square" style="font-size: 0.8rem;"></i></a>
    </div>
</div>
<hr>
{% endfor %}