{% extends 'layouts/base_cols.html' %}

{% load i18n %}
{% load filtermetatags %}
{% load filtersourcetags %}


{% block title %}{{ source.title }} - NoteD{% endblock %}


{% block extra_meta %}
{% if source.description %}
<meta name="description" content="{{ source.description }}">
{% endif %}

<meta name="keywords" content="{{ source.type|readabletype }}, note">
<link rel="canonical" href="{{ source.get_absolute_url|full_url }}">
{% endblock %}


{% block center %}
<div class="container-fluid mt-4" style="max-width:770px;">
    <div class="row">
        <div class="col-1 d-flex flex-column justify-content-start align-items-center">
            <div>{{ source.type|icon:"2rem" }}</div>
        </div>
        <div class="col-11">
            <h1 class="fw-bold">{{ source.title }}</h1>
            <p class="text-secondary fs-5">{{ source.description }}</p>
            <a class="btn btn-sm btn-success rounded-pill mt-2" {% if not request.user.is_authenticated %}data-bs-toggle="modal" data-bs-target="#signin"{% else %}href="{% url 'content:create_note' %}?source={{ source.slug }}"{% endif %}>{% trans "Add Note" %}</a>
            {% if source.link %}
            <a href="{{ source.link }}" target="_blank" class="btn btn-sm btn-outline-success rounded-pill mt-2 ms-1">{% trans "External Link" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="row mt-4">
        <hr>
    </div>
    <div class="row">
        {% include 'content/note_list_for_layout.html' %}
    </div>
</div>
{% endblock %}


{% block sidebar %}

{% include 'layouts/sidebar/search_form.html' %}
{% include 'layouts/sidebar/source_types.html' %}
{% include 'layouts/sidebar/more_for_source_type.html' %}
{% include 'layouts/sidebar/footer.html' %}

{% endblock %}