{% extends 'layouts/base_cols.html' %}

{% load i18n %}
{% load filtersourcetags %}


{% block title %}{{ type }} - NoteD{% endblock %}


{% block extra_meta %}
<link rel="canonical" href="{{ request.build_absolute_uri }}">
{% endblock %}

{% block center %}
<div class="container-fluid mt-4" style="max-width:770px;">
    <div class="row">
        <div class="col-1 d-flex flex-column justify-content-start align-items-center">
            <div>{{ type_code|icon:"2rem" }}</div>
        </div>
        <div class="col-11">
            <h1 class="fw-bold">{{ type }}</h1>
        </div>
    </div>
    <div class="row mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link tablink active text-secondary" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">{% trans "Notes" %}</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link tablink text-secondary" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">{% trans "Sources" %}</button>
            </li>
        </ul>
    </div>
    <div class="tab-content row mt-3" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        {% include 'content/note_list_for_layout.html' %}
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        {% include 'content/source_list_layout.html' %}
      </div>
    </div>          
</div>
{% endblock %}


{% block sidebar %}
{% include 'layouts/sidebar/search_form.html' %}
{% include 'layouts/sidebar/source_types.html' %}
{% include 'layouts/sidebar/more_from_noted.html' %}
{% include 'layouts/sidebar/footer.html' %}
{% endblock %}