# (!) Fill the file with required data and rename it on `.env`

SECRET_KEY=leave_it_or_create_yours
IP=127.0.0.1

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

REDIS_LOCATION=

# SMTP Host
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# ALLAUTH CONFIGURATION
YANDEX_CLIENT_ID=
YANDEX_SECRET=

GITHUB_ID=
GITHUB_SECRET=

# Logging errors mail
ADMIN_NAME=
ADMIN_EMAIL=
