__pycache__/
*.pyc
.env
env/
nenv/
dev/
.idea
frontend/media/*
!frontend/media/user
frontend/media/user/*
!frontend/media/user/default_avatar.jpg
!frontend/media/user/readme.txt
venv/
migrations/
!migrations/__init__.py
todo.md
.vscode/
bugs/
booting.md
privacy_policy.md
frontend/noted
