__pycache__/
*.pyc
.env
env/
nenv/
dev/
.idea
media/*
!media/user
media/user/*
!media/user/default_avatar.jpg
!media/user/readme.txt
venv/
todo.md
.vscode/
bugs/
booting.md
privacy_policy.md
frontend/noted
noted/htmlcov/
noted/.coverage
dev/
*.log
.isort.cfg
mypy.ini
.mypy_cache/
celerybeat-schedule.db
celerybeat-schedule