{% extends 'layouts/base_cols.html'  %}


{% load static %}
{% load i18n %}
{% load notifications_tags %}


{% block title %}{% trans "Notifications" %}{% endblock %}



{% block center %}
<div class="container" style="max-width: 700px;">
<h1>{% trans "Notifications" %}</h1>
<div class="mt-5">
{% for notification in notifications %}
<div id="notice-{{ notification.slug }}" class="row mt-2">
    <!-- Condition `and notification.target.title and notification.actor.full_name` to separate notes from tags -->
    {% if notification.verb == "creates" and notification.target.title and notification.actor.full_name %}
    <div class="col-1 d-flex flex-row-reverse pe-0">
        <i class="bi bi-journal-plus" style="font-size: 1.6rem; color: #0eb013;"></i>
    </div>
    <div class="col-11">
        <div>
            <a href="{{ notification.actor.get_absolute_url }}" class="fw-bold text-dark text-decoration-none" >{{ notification.actor.full_name }}</a>
            <span class="text-secondary">{% trans "has created a new note" %} {{ notification.timestamp|timesince }} {% trans "ago" %}</span>
        </div>
        <div class="mt-2 fs-5">
            <b>{{ notification.target }}</b>
        </div>
        <div class="mt-3 mb-2">
            <a class="text-decoration-none" href="{{ notification.target.get_absolute_url }}">{% trans "See the note" %}</a>
            {% if notification.unread %}
            <button id="read-btn-{{ notification.slug }}" class="btn btn-link pe-0 ms-4" onclick="readNotice({{ notification.slug }})">
                <i class="bi bi-check-lg color-grey github-h" style="font-size: 1.3rem;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mark as read"></i>
            </button>
            {% endif %}
            <button class="btn btn-link ps-1" onclick="deleteNotice({{ notification.slug }})" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                <i class="bi bi-trash3 color-grey google-h"></i>
            </button>
        </div>
    </div>
    <hr>
    <!-- Condition `and notification.actor.name` to separate notes from tags -->
    {% elif notification.verb == 'creates' and notification.actor.name %}
    <div class="col-1 d-flex flex-row-reverse pe-0">
        <div><i class="bi bi-tag-fill" style="font-size: 1.6rem; color: #292929;"></i></div>
    </div>
    <div class="col-11">
        <div>
            <a href="{{ notification.actor.get_absolute_url }}" class="fw-bold text-dark text-decoration-none" >{{ notification.actor }}</a>:
            <span class="text-secondary">{% trans "a new note has been created with the tag you are following" %} {{ notification.timestamp|timesince }} {% trans "ago" %}</span>
        </div>
        <div class="mt-2 fs-5">
            <b>{{ notification.target }}</b>
        </div>
        <div class="mt-3 mb-2">
            <a class="text-decoration-none" href="{{ notification.target.get_absolute_url }}">{% trans "See the note" %}</a>
            {% if notification.unread %}
            <button id="read-btn-{{ notification.slug }}" class="btn btn-link pe-0 ms-4" onclick="readNotice({{ notification.slug }})">
                <i class="bi bi-check-lg color-grey github-h" style="font-size: 1.3rem;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mark as read"></i>
            </button>
            {% endif %}
            <button class="btn btn-link ps-1" onclick="deleteNotice({{ notification.slug }})" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                <i class="bi bi-trash3 color-grey google-h"></i>
            </button>
        </div>
    </div>
    <hr>
    {% elif notification.verb == 'follows' %}
    <div class="col-1 d-flex flex-row-reverse pe-0">
        <i class="bi bi-person-fill-add" style="font-size: 1.6rem; color: #4576ff;"></i>
    </div>
    <div class="col-11">
        <div>
            <a href="{{ notification.actor.get_absolute_url }}" class="fw-bold text-dark text-decoration-none" >{{ notification.actor.full_name }}</a>
            <span class="text-secondary">{% trans "has subscribed to you" %} {{ notification.timestamp|timesince }} {% trans "ago" %}</span>
        </div>
        <div class="mt-3 mb-2">
            <a class="text-decoration-none" href="{{ notification.actor.get_absolute_url }}">{% trans "See the profile" %}</a>
            {% if notification.unread %}
            <button id="read-btn-{{ notification.slug }}" class="btn btn-link pe-0 ms-4" onclick="readNotice({{ notification.slug }})">
                <i class="bi bi-check-lg color-grey github-h" style="font-size: 1.3rem;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mark as read"></i>
            </button>
            {% endif %}
            <button class="btn btn-link ps-1" onclick="deleteNotice({{ notification.slug }})" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                <i class="bi bi-trash3 color-grey google-h"></i>
            </button>
        </div>
    </div>
    <hr>
    {% elif notification.verb == 'likes' %}
    <div class="col-1 d-flex flex-row-reverse pe-0">
        <i class="bi bi-heart-fill" style="font-size: 1.6rem; color: #f21b5f;"></i>
    </div>
    <div class="col-11">
        <div>
            <a href="{{ notification.actor.get_absolute_url }}" class="fw-bold text-dark text-decoration-none" >{{ notification.actor.full_name }}</a>
            <span class="text-secondary">{% trans "liked your note" %} {{ notification.timestamp|timesince }} {% trans "ago" %}</span>
        </div>
        <div class="mt-2 fs-5">
            <b>{{ notification.target }}</b>
        </div>
        <div class="mt-3 mb-2">
            <a class="text-decoration-none" href="{{ notification.target.get_absolute_url }}">{% trans "See the note" %}</a>
            {% if notification.unread %}
            <button id="read-btn-{{ notification.slug }}" class="btn btn-link pe-0 ms-4" onclick="readNotice({{ notification.slug }})">
                <i class="bi bi-check-lg color-grey github-h" style="font-size: 1.3rem;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Mark as read"></i>
            </button>
            {% endif %}
            <button class="btn btn-link ps-1" onclick="deleteNotice({{ notification.slug }})" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                <i class="bi bi-trash3 color-grey google-h"></i>
            </button>
        </div>
    </div>
    <hr>
    {% endif %}
</div>
{% endfor %}
</div>
{% endblock %}


{% block extra_scripts %}
<script>
const readNoticeUrl = "{% url 'actions:mark_as_read' %}";
const deleteNoticeUrl = "{% url 'actions:delete_notification' %}";
</script>
<script type="text/javascript" src="{% static 'js/notifications.js' %}"></script>
{% endblock %}