{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div style="max-width: 600px; margin: auto;">
<h1 class="mb-3" align="center">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p align="center">{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="/">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>



<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  
  <div class="login-or mt-5"><b>{% trans 'Sign in with email:' %}</b></div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <label for="id_login" class="form-label mt-3">{% trans "Email" %}</label>
  <input class="form-control" type="email" name="login" placeholder="E-mail address" autocomplete="email" required="" id="id_login">
  <label for="id_password" class="form-label mt-3">{% trans "Password" %}</label>
  <input class="form-control" type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
  <label for="id_remember" class="form-label mt-3">{% trans "Remember me" %}</label>
  <input class="form-check" type="checkbox" name="remember" id="id_remember">
  {% if redirect_field_value %}
  <input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-success rounded-pill mt-3 primaryAction" type="submit">{% trans "Sign In" %}</button>
 </br>
 </br>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <p class="text-center mt-5">{% trans "No account?" %} <a href="/" class="fw-bold text-success text-decoration-none" data-bs-toggle="modal" data-bs-target="#signup" data-bs-dismiss="modal">{% trans "Create one." %}</a></p>
  <p class="color-grey mt-4 text-center" style="font-size: 12px;">{% trans "By signing in, you agree to our " %} <a href="{% url 'privacy_policy' %}">{% trans "Privacy Policy" %}.</a></p>
</form>
</div>
{% endblock %}
