<!-- Reset password form -->
{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <input class="form-control mt-3" type="password" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1">
            <input class="form-control mt-3" type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2">
            <input class="btn btn-success rounded-pill mt-4" type="submit" name="action" value="{% trans 'Change Password' %}"/>
        </form>
    {% endif %}
{% endblock %}
