{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% if form.errors %}
        <div id="form-error">
            <p>{% trans "The operation could not be performed because one or more error(s) occurred" %}.<br />{% trans "Please resubmit the form after making the following changes" %}:</p>
            <ul>
            {% for field in form %}
                {% if field.errors %}
                    <li class="text-danger">
                        <b>{{ field.label }}</b>: {{ field.errors|striptags }}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
         {% endif %}
        <label for="id_oldpassword" class="form-label mt-3">{% trans "Current Password" %}</label>
        <input class="form-control" type="password" name="oldpassword" placeholder="{% trans "Current Password" %}" autocomplete="current-password" required="" id="id_oldpassword">
        <label for="id_password1" class="form-label mt-3">{% trans "New Password" %}</label>
        <input class="form-control" type="password" name="password1" placeholder="{% trans "New Password" %}" autocomplete="new-password" required="" id="id_password1">
        <label for="id_password2" class="form-label mt-3">{% trans "New Password (again)" %}</label>
        <input class="form-control" type="password" name="password2" placeholder="{% trans "New Password (again)" %}" required="" id="id_password2">
        <button class="btn btn-success rounded-pill mt-3" type="submit" name="action">{% trans "Change Password" %}</button>
        <a class="btn btn-primary rounded-pill ms-2 mt-3" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}
