<!-- List of notes for a sidebar. -->
{% load i18n %}
{% load filtersourcetags %}

<aside class="mt-5">
    <h6 style="margin-bottom: -15px;">{% trans "More for" %} {{ source.type|readabletype }}</h6>
    {% for note in sidenotes|slice:":5" %}
    <div class="mt-4">
        <div class="d-flex align-items-center" style="font-size: 13px;">
            <a href="{{ note.author.get_absolute_url }}" class="text-decoration-none text-dark">
            <span><img src="{{ note.author.profile.avatar.url }}" class="rounded-circle" alt="A" width="16" height="16"></span>
            <span>{{ note.author.full_name }}</span>
            </a>
            <span>&nbsp;&#8226;&nbsp;</span>
            <span class="text-secondary">{{ note.created|date:"M j" }}</span>
        </div>
        <a href="{{ note.get_absolute_url }}" class="text-decoration-none text-dark">
        <div class="mt-2 fs-6 fw-bold">{{ note.title }}</div>
        </a>
    </div>
    {% endfor %}
</aside>