{% extends 'layouts/base_cols.html' %}

{% load static %}
{% load i18n %}
{% load filtersourcetags %}


{% block title %}{{ tag }}{% endblock %}

{% block center %}
<div class="container-fluid mt-4" style="max-width:770px;">
    <div class="row">
        <div class="col-1 d-flex flex-column justify-content-start align-items-center">
            <div><i class="bi bi-tag-fill" style="font-size: 1.8rem;"></i></div>
        </div>
        <div class="col-11">
            <h1 class="fw-bold">{{ tag }}</h1>
            <button id="follow-tag" class="btn btn-sm btn-success rounded-pill mt-2">{% if tag not in request.user.tags %}{% trans "Follow" %}{% else %}{% trans "Unfollow" %}{% endif %}</button>
            <a href="#" target="_blank" class="btn btn-sm btn-outline-success rounded-pill mt-2 ms-1">{% trans "Add Note" %}</a>
        </div>
    </div>
    <div class="row mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link tablink active text-secondary" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">{% trans "Notes" %}</button>
            </li>
        </ul>
    </div>
    <div class="tab-content row mt-3" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        {% include 'content/note_list_for_layout.html' %}
      </div>
    </div>          
</div>
{% endblock %}


{% block sidebar %}
{% include 'layouts/sidebar/search_form.html' %}
{% include 'layouts/sidebar/source_types.html' %}
{% include 'layouts/sidebar/more_from_noted.html' %}
{% include 'layouts/sidebar/footer.html' %}
{% endblock %}


{% block extra_scripts %}
<div id="follow-tag-url" hidden>{% url 'tags:subscribe' slug=tag.slug %}</div>
<script type="text/javascript" src="{% static 'js/tag_details.js' %}"></script>
{% endblock %}