<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NoteD.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body class="pb-5">


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid container-xxl">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="NoteD." width="34" height="34">
        </a>      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
            <li class="nav-item px-2">
            <a class="nav-link" href="#"><i class="bi bi-house" style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="#" type="button"><i class="bi bi-bell" style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="#"><i class="bi bi-bookmark-star" style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="#"><i class="bi bi-journals" style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="#"><i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i></a>
            </li>
        </ul>
        <li style="list-style-type: none;">
            <a class="nav-link color-grey" href="#"><i class="bi bi-person-add" style="font-size: 1.5rem;" data-bs-toggle="modal" data-bs-target="#signin"></i></a>
        </li>
    </div>
    </nav>

    
        <!-- Modal sign-in -->
        <div class="modal fade" id="signin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" style="float: right;"></button>
                    <div class="container-fluid d-flex justify-content-center">
                        <div class="row mt-3" style="max-width: 250px;">
                            <h3 class="text-center mb-5">Welcome!</h3>
                            <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign">Sign in with Google</button>
                            <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign">Sign in with GitHub</button>
                            <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign">Sign in with Yandex</button>
                            <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign">Sign in with VK</button>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign" data-bs-toggle="modal" data-bs-target="#signin-email" data-bs-dismiss="modal">Sign in with Email</button>                   
                            <p class="text-center mt-5">No account? <a href="#" class="fw-bold text-success text-decoration-none" data-bs-toggle="modal" data-bs-target="#signup" data-bs-dismiss="modal">Create one.</a></p>
                            <p class="color-grey mt-4 text-center" style="font-size: 12px;">Forgot email? <a href="#">Get help.</a></p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <!-- Modal sign-im via email -->
            <div class="modal fade" id="signin-email" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" style="float: right;"></button>
                        <div class="container-fluid mb-5" style="max-width: 300px;">
                            <div class="row">
                                <p class="text-center fs-3 mt-5">Sign in with email</p>
                                <p class="text-center mt-5">Enter the email address associated with your account and your password.</p>
                                <input class="form-control form-control-sm mt-5" type="text" placeholder="Email">
                                <input class="form-control form-control-sm mt-2" type="text" placeholder="Password">
                                <button type="button" class="btn btn-success rounded-pill mt-5 px-4 text-center">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal sign-up -->
            <div class="modal fade" id="signup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                        <div class="container-fluid mb-5" style="max-width: 300px;">
                            <div class="row">
                                <p class="text-center fs-3 mt-5">Sign up with email</p>
                                <p class="text-center mt-4">Enter your email address to create an account.</p>
                                <input id="user_email" name="user_email" class="form-control form-control-sm mt-5" type="email" placeholder="Email">
                                <div id="user_email_feedback" class="invalid-feedback">
                                    Enter a valid email.
                                </div>                      
                                <button id="submit_email" type="button" class="btn btn-success rounded-pill mt-5 px-4 text-center">Continue</button>
                                <!-- data-bs-toggle="modal" data-bs-target="#signup-end" data-bs-dismiss="modal" -->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- Modal sign-up email message -->
            <div class="modal fade" id="signup-end" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
                        <div class="container-fluid mb-5" style="max-width: 300px;">
                            <div class="row">
                                <p class="text-center fs-3 mt-5">Check your inbox.</p>
                                <p class="text-center mt-4">Click the link we sent to [EMAIL] to complete your account set-up.</p>
                                <button type="button" class="btn btn-success rounded-pill mt-5 px-4 text-center" data-bs-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <!-- Context for scripts -->
        <span id="validate_email_url" class="js-context" hidden>{% url 'account:validate_email' %}</span>
        <span id="signup_email_url" class="js-context" hidden>{% url 'account:signup_request' %}</span>
    <!-- endcontext -->
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
              const cookies = document.cookie.split(";");
              for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }

        // Validate email
        const validateEmail = (email) => {
            return email.match(
              /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };


        function sendSignupEmail(email) {
            const singup_email_url = document.getElementById('signup_email_url').innerHTML;
            const emailInputField = document.getElementById('user_email');
            const feedbackMessageElement = document.getElementById('user_email_feedback');
            $.ajax({
                type: "POST",
                data: JSON.stringify({'email': email}),
                url: singup_email_url,
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": getCookie("csrftoken"),
                },
                success: function(data) {
                    switch(data.msg) {
                        case 'invalid':
                            emailInputField.classList.add('is-invalid');
                            feedbackMessageElement.innerHTML = 'Enter a valid email.';
                            break;
                        case 'sent':
                            console.log('SENT')
                            break;
                        default:
                            emailInputField.classList.add('is-invalid');
                            feedbackMessageElement.innerHTML = 'Something went wrong, try later.';
                    }
                },
                error: function (response) {
                    console.log('`sendSignupEmail` faild.');
                    emailInputField.classList.add('is-invalid');
                    feedbackMessageElement.innerHTML = 'Something went wrong, try later.';
                },
                timeout: 3500
            });
        }


        function isEmailAvailable(email) {
            const validate_url = document.getElementById('validate_email_url').innerHTML;
            const emailInputField = document.getElementById('user_email');
            const feedbackMessageElement = document.getElementById('user_email_feedback');
            $.ajax({
                type: 'GET',
                data: {'email': email},
                url: validate_url,
                headers: {"X-Requested-With": "XMLHttpRequest"},
                success: function(response) {
                    if (response.is_taken == true) {
                        // taken
                        feedbackMessageElement.innerHTML = 'This email is already taken.';
                        emailInputField.classList.add('is-invalid');
                    } else {
                        // free
                        feedbackMessageElement.innerHTML = ''
                        emailInputField.classList.remove('is-invalid');
                        sendSignupEmail(email);
                    }
                },
                error: function (response) {
                    console.log(response.responseJSON.errors);
                    feedbackMessageElement.innerHTML = 'Something went wrong, try later.';
                    emailInputField.classList.add('is-invalid');
                },
                timeout: 2400
            });
        }

        // On click validate email and either send post or show error messages
        document.getElementById('submit_email').onclick = function() {
            const emailInputField = document.getElementById('user_email');
            const email = emailInputField.value;
            const feedbackMessageElement = document.getElementById('user_email_feedback');
            
            if (validateEmail(email)) {
                // valid
                feedbackMessageElement.innerHTML = '';
                emailInputField.classList.remove('is-invalid');
                // check email availability
                isEmailAvailable(email)
            } else {
                // invalid
                feedbackMessageElement.innerHTML = 'Enter a valid email.';
                emailInputField.classList.add('is-invalid');
            }
        }


    </script>
</body>
</html>
