<!--Base template for create/update note templates -->
{% extends 'layouts/base.html' %}

{% load static %}


{% block extrahead %}
    <!-- Markdown editor require jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    {{ form.media }}

    <!-- Tags form input styles -->
    <link rel="stylesheet" href="/static/css/tagsinput.css" />
{% endblock %}


{% block extrascripts %}
    <!-- Require for markdown editor (SimpleMDE) -->
    <script src="{% static 'js/markdown.js' %}"></script>

    <!-- Tags scripts -->
    <script src="/static/js/tagsinput.js"></script>
{% endblock %}
