<!doctype html>
<!-- Root template for all templates -->
{% load static %}
{% load settingstags %}

<html {% block itemscope %}{% endblock %}>
<head>
    <title>{% block title %}NoteD.{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1">
    {% block extra_meta %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link id="color-theme" rel="stylesheet" href="{{ user.profile.settings.theme|theme }}">
    {% block extra_head %}{% endblock %}
</head>
{% comment %} <body class="pb-5"> {% endcomment %}
<body class="pb-5">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KJ01VPW2FF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-KJ01VPW2FF');
    </script>
    <!-- End Google tag -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    
        ym(92151548, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92151548" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- End Yandex.Metrika counter -->

    {% block nav %}
        {% include 'layouts/navigation.html' %}
    {% endblock %}

    {% block messages %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show mx-2 mt-1" role="alert">
            <strong>{{ message.tags }}.</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
    {% endblock %}

    {% block main %}{% endblock %}
    
    <a id="switch-theme-url" href="{% url 'users:switch_theme' %}" hidden></a>
    <a id="css-light-theme-url" href="{% static 'css/ligth_theme.css' %}" hidden></a>
    <a id="css-dark-theme-url" href="{% static 'css/dark_theme.css' %}" hidden></a>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    {% if request.user.is_authenticated %}
    <script type="text/javascript" src="{% static 'js/theme_switch.js' %}"></script>
    {% endif %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>
