<!-- Requires css/footer.css, css/colot_style.css -->
{% load static %}
{% load i18n %}

<footer class='footer'>
    <div class='container'>
        <!-- Header -->
        <div class='footer__headline'><a href="{% url 'notes:home' %}">Note<img class="logoImg mb-2" src="{% static 'img/logo.png' %}" width="52" alt="logo"/></a></div>
        <!-- Navigation -->
        <nav class='nav__head'>
            <ul>
                <li><a href="{% url 'notes:home' %}">{% trans 'Home' %}</a></li>
                <li><a href='https://github.com/welel/noted' target="_blank">{% trans 'About' %}</a></li>
                <li><a href='https://github.com/welel' target="_blank">{% trans 'Contacts' %}</a></li>
                <li><a href="{% url 'privacy-policy' %}">{% trans 'Privacy Policy' %}</a></li>
            </ul>
        </nav>
        <div class='horizontal__decoration__line'></div>
        <!-- Contact data -->
        <nav class='social__media'>
            <ul>
                <li><a href='https://github.com/welel' target="_blank"><div><img src="{% static 'img/icons/github.svg' %}" alt='GitHub'/></div><span>GitHub</span></a></li>
                <li><a href='mailto:pavel.loginov.dev@gmail.com' target="_blank"><div><img src="{% static 'img/icons/gmail.svg' %}" alt='gmail'/></div><span>Gmail</span></a></li>
                <li><a href='https://t.me/pavel_loginov_dev' target="_blank"><div><img src="{% static 'img/icons/telegram.svg' %}" alt='telegram'/></div><span>Telegram</span></a></li>
            </ul>
        </nav>
        <div class='horizontal__decoration__line'></div>
        <div class='footer__rights'>
            <p>{% trans 'The website is developing for educational purposes of developers.' %}<br/>
                NoteD. 2022-2023</p>
        </div>
    </div>
</footer>
