<!-- Header -->
<!-- Requires css/header.css -->
<header id="header-hero">
   <div class="waveWrapper waveAnimation">
      <div class="waveWrapperInner bgTop">
         <div class="wave waveTop" style="background-image: url(&quot;https://front-end-noobs.com/jecko/img/wave-top.png&quot;);">
            <h1>note<img class="logoImg" src="https://i.ibb.co/q96DFcq/D-noted.png" alt="D-noted"/></h1>
            <h2 class="mt-3">You learn more when you take notes</h2>
         </div>
      </div>
      <div class="waveWrapperInner bgMiddle">
         <div class="wave waveMiddle" style="background-image: url(&quot;https://front-end-noobs.com/jecko/img/wave-mid.png&quot;);"></div>
      </div>
      <div class="waveWrapperInner bgBottom">
         <div class="wave waveBottom" style="background-image: url(&quot;https://front-end-noobs.com/jecko/img/wave-bot.png&quot;);"></div>
      </div>
   </div>
</header>