<!-- Base layout for listing notes -->

{% extends 'layouts/base.html' %}

{% load static %}


{% block title %}{{ block.super }}{% endblock %}


{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
{% endblock %}


{% block main %}
{% include 'layouts/header.html' %}
<div class="row ps-5 skip_header">
<div class="col-9">

{% block search %}{% endblock %}

<!-- Notes listing -->
{% if notes %}

      <!-- Notes ordering title -->
      <h2 class="fw-bold">
        {{ order_label }} {% block list_header %}Notes List{% endblock %}
      </h2>

      <!-- Order notes selector -->
      <p class="orders mt-5">
        {% block order_links %}
          <i style="margin-top: -1px;" class="bi bi-sort-down"></i>
          <a class="order-link ms-1 link-color" href="{{ request.path }}?order=-datetime_created">Latest Notes</a>
          <a class="order-link ms-1 link-color" href="{{ request.path }}?order=datetime_created">Oldest Notes</a>
          <a class="order-link ms-1 link-color" href="{{ request.path }}?order=comments">Most Commented</a>
          <a class="order-link ms-1 link-color" href="{{ request.path }}?order=users_like">Most Liked</a>
        {% endblock %}
      </p>

        {% include 'layouts/list.html' %}

      <!-- "Add Note" button -->
      {% if user.is_authenticated %}
        <div class="row mt-4 d-flex justify-content-center">
          <a class="btn btn-add-note icon-btn" href="{% url 'notes:add' %}" style="width: 150px;">
            <i style="margin-top: -1px;" class="bi bi-plus-circle-dotted"></i>
            Add Note
          </a>
        </div>
      {% endif %}

    <!-- Paginator -->
    {% include 'layouts/paginator.html' %}

{% else %}
  <!-- If not notes -->
  {% block no_notes %}{% endblock %}
{% endif %}


</div>
{% block sidebar %}{% endblock %}
</div>
{% endblock %}


{% block extrascripts %}
    <!-- Flow effects for notes cards -->
    <script src="{% static 'js/list.js' %}"></script>
{% endblock %}
