<!-- Notes list -->
{% for note in notes %}
<div class="row mt-4 _anim-items _amin-no-hide">
  <div class="card note-card rounded border-0 _anim-show" style="width: 100%;">
    <div class="card-body">
      <a href="{% url 'note' slug=note.slug %}" class="card-title text-decoration-none link-dark fs-5">
          {% if note.headline %}{{ note.headline|safe }}{% else %}{{ note.title }}{% endif %}
      </a>
      <p class="mt-1 text-secondary">{{ note.summary }}</p>
      <hr style="opacity: 0.1;"/>
      <div class="note-card-footer d-flex flex-wrap">
        <p class="fw-light d-flex">
          <span>
            <i class="bi bi-calendar3"></i>
            {{ note.datetime_created }}
          </span>
          {% if not note.anonymous %}
            <a href="{% url 'user:user_profile' note.author %}" class="text-decoration-none ms-2 link-color">
              <i class="bi bi-person-lines-fill"></i>
              {{ note.author }}
            </a>
          {% endif %}
          <span class="ms-2">
            {% if note.body_raw|length > 2200 %}
              <i class="bi bi-file-earmark-richtext"></i>
              Long
            {% else %}
              <i class="bi bi-receipt"></i>
              Short
            {% endif %}
          </span>
          {% if request.user == user %}
            {% if note.private %}
              <span class="badge badge-private ms-1 mb-1">Private</span>
            {% endif %}
            {% if note.anonymous %}
              <span class="badge badge-anon ms-1 mb-1">Anonymous</span>
            {% endif %}
          {% endif %}
          {% with total_comments=note.comments.count %}
            {% if total_comments %}
              <span class="ms-2">
                <i class="bi bi-chat-right-text"></i>
                {{ total_comments }} comment{{ total_comments|pluralize }}
              </span>
            {% endif %}
          {% endwith %}
          {% with total_likes=note.users_like.count %}
            {% if total_likes %}
              <span class="ms-2">
                <i class="bi bi-heart"></i>
                {{ total_likes }} like{{ total_likes|pluralize }}
              </span>
            {% endif %}
          {% endwith %}
        </p>
        <p class="d-flex flex-wrap" style="margin-top: 2px;">
          {% for tag in note.tags.all %}
            <a href="{% url 'tagged' tag_slug=tag.slug %}" class="badge tag-badge ms-1 mb-1">
              #{{ tag }}
            </a>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %}