<!-- Main navigation menu

Require script `js/auth.js`
-->
{% load static %}
{% load i18n %}
<!-- Left navigation -->
<div id="left-nav" class="d-lg-flex d-none">
    <div class="mt-4">
        <a class="navbar-brand" href="{% url 'content:home' %}">
            <img src="{% static 'img/logo.png' %}" alt="NoteD." width="34" height="34">
        </a>
    </div>
    <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
        <li class="nav-item px-2">
        <a class="nav-link" href="{% url 'content:home' %}"><i class="bi bi-house" style="font-size: 1.5rem;"></i></a>
        </li>
        <li class="nav-item px-2">
        <a class="nav-link" href="#" type="button"><i class="bi bi-bell" style="font-size: 1.5rem;"></i></a>
        </li>
        <li class="nav-item px-2">
        <a class="nav-link" href="#"><i class="bi bi-bookmark-star" style="font-size: 1.5rem;"></i></a>
        </li>
        <li class="nav-item px-2">
        <a class="nav-link" href="#"><i class="bi bi-journals" style="font-size: 1.5rem;"></i></a>
        </li>
        <li class="nav-item my-2"><div style="height: 1px; width: 40px; background-color: #e6e6e6;"></div></li>
        <li class="nav-item px-2">
        <a class="nav-link" href="#"><i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i></a>
        </li>
    </ul>
    </div>
    <div class="mb-4">
    {% if not request.user.is_authenticated %}
        <li style="list-style-type: none;">
            <a class="nav-link color-grey" href="#"><i class="bi bi-person-add" style="font-size: 1.5rem;" data-bs-toggle="modal" data-bs-target="#signin"></i></a>
        </li>
    {% else %}
        <li class="nav-item dropdown" style="list-style-type: none;">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="#" class="bi bi-person-circle" alt="{{ request.user.first_name.0 }}" width="34" height="34">
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#"><i class="bi bi-person-circle px-2"></i>{% trans "Profile" %}</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-gear-fill px-2"></i>{% trans "Profile settings" %}</a></li>
            <li><a class="dropdown-item" href="#"> 🇷🇺 &nbsp; Русский</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-moon-stars-fill px-2"></i>{% trans "Dark" %}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-left px-2"></i>{% trans "Sign Out" %}</a></li>
            </ul>
        </li>
    {% endif %}
    </div>
</div>

<!-- Top navigation -->
<nav class="navbar navbar-expand-lg  d-lg-none d-flex" style="border: 1px solid #c6c7c8;">
    <div class="container-fluid container-xxl">
        <a class="navbar-brand" href="{% url 'content:home' %}">
            <img src="{% static 'img/logo.png' %}" alt="NoteD." width="34" height="34">
        </a>      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
            <li class="nav-item px-2">
            <a class="nav-link" href="{% url 'content:home' %}"><i class="bi bi-house" style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="#" type="button"><i class="bi bi-bell" style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="#"><i class="bi bi-bookmark-star" style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="#"><i class="bi bi-journals" style="font-size: 1.5rem;"></i></a>
            </li>
            <li class="nav-item px-2">
            <a class="nav-link" href="#"><i class="bi bi-pencil-square" style="font-size: 1.5rem;"></i></a>
            </li>
        </ul>
        {% if not request.user.is_authenticated %}
            <li style="list-style-type: none;">
                <a class="nav-link color-grey" href="#"><i class="bi bi-person-add" style="font-size: 1.5rem;" data-bs-toggle="modal" data-bs-target="#signin"></i></a>
            </li>
        {% else %}
            </div>
            <div class="mb-4">
                <li class="nav-item dropdown" style="list-style-type: none;">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/avatar.png" class="bi bi-person-circle" alt="{{ request.user.first_name.0 }}" width="34" height="34">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#"><i class="bi bi-person-circle px-2"></i>{% trans "Profile" %}</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-gear-fill px-2"></i>{% trans "Profile settings" %}</a></li>
                <li><a class="dropdown-item" href="#"> 🇷🇺 &nbsp; Русский</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-moon-stars-fill px-2"></i>{% trans "Dark" %}</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-left px-2"></i>{% trans "Sign Out" %}</a></li>
                </ul>
            </li>
            </div>
        {% endif %}
    </div>
</nav>

<!-- Modal sign-in -->
<div class="modal fade" id="signin" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close" data-bs-dismiss="modal" style="float: right;"></button>
            <div class="container-fluid d-flex justify-content-center">
                <div class="row mt-3" style="max-width: 250px;">
                    <h3 class="text-center mb-5">{% trans "Welcome!" %}</h3>
                    <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign">{% trans "Sign in with Google" %}</button>
                    <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign">{% trans "Sign in with GitHub" %}</button>
                    <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign">{% trans "Sign in with Yandex" %}</button>
                    <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign">{% trans "Sign in with VK" %}</button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-dark rounded-pill mt-3  social-sign" data-bs-toggle="modal" data-bs-target="#signin-email" data-bs-dismiss="modal">{% trans "Sign in with Email" %}</button>                   
                    <p class="text-center mt-5">{% trans "No account?" %} <a href="#" class="fw-bold text-success text-decoration-none" data-bs-toggle="modal" data-bs-target="#signup" data-bs-dismiss="modal">{% trans "Create one." %}</a></p>
                    <p class="color-grey mt-4 text-center" style="font-size: 12px;">{% trans "Forgot email or password?" %} <a href="#">{% trans "Get help." %}</a></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Modal sign-im via email -->
<div class="modal fade" id="signin-email" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" style="float: right;"></button>
            <div class="container-fluid mb-5" style="max-width: 300px;">
                <div class="row">
                    <p class="text-center fs-3 mt-5">{% trans "Sign in with email" %}</p>
                    <p class="text-center mt-5">{% trans "Enter the email address associated with your account and your password." %}</p>
                    <input class="form-control form-control-sm mt-5" type="text" placeholder="Email">
                    <input class="form-control form-control-sm mt-2" type="text" placeholder="Password">
                    <button type="button" class="btn btn-success rounded-pill mt-5 px-4 text-center">{% trans "Continue" %}</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Modal sign-up -->
<div class="modal fade" id="signup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
            <div class="container-fluid mb-5" style="max-width: 300px;">
                <div class="row">
                    <p class="text-center fs-3 mt-5">{% trans "Sign up with email" %}</p>
                    <p class="text-center mt-4">{% trans "Enter your email address to create an account." %}</p>
                    <input id="user_email" name="user_email" class="form-control form-control-sm mt-5" type="email" placeholder="Email">
                    <div id="user_email_feedback" class="invalid-feedback">
                        {% trans "Enter a valid email." %}
                    </div>                      
                    <button id="submit_email" type="button" class="btn btn-success rounded-pill mt-5 px-4 text-center">{% trans "Continue" %}</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Modal sign-up email message -->
<div class="modal fade" id="signup-end" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="btn-close mb-3" data-bs-dismiss="modal" aria-label="Close" style="float: right;"></button>
            <div class="container-fluid mb-5" style="max-width: 300px;">
                <div class="row">
                    <p class="text-center fs-3 mt-5">{% trans "Check your inbox." %}</p>
                    <p class="text-center mt-4">{% trans "Click the link we sent to" %} <b id="signup-sent-to"></b> {% trans "to complete your account set-up." %}</p>
                    <button type="button" class="btn btn-success rounded-pill mt-5 px-4 text-center" data-bs-dismiss="modal">{% trans "OK" %}</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- Context for scripts -->
    <span id="validate_email_url" class="js-context" hidden>{% url 'account:validate_email' %}</span>
    <span id="signup_email_url" class="js-context" hidden>{% url 'account:signup_request' %}</span>
<!-- endcontext -->
