<!-- Main navigation bar on the top of the website -->
{% load static %}
{% load i18n %}

<header class='header parallax'>
  <div class='header__container'> <!-- Limits width of the container -->
    <div class='header__body'> <!-- flex container -->
      <a class='menu__headline'>NoteD.</a>
      <a href="{% url 'notes:home' %}" class='header__logo'>
        <img src="{% static 'img/logo.png' %}" alt='logo'>
      </a>
      <div id='first_line' class='vertical_decoration_line'></div>
      <div id='second__line' class='vertical_decoration_line'></div>
      <div class='header__burger'>
        <span></span>
      </div>
      <nav class='header__menu'>
        <a class='burger__logo__link' href="{% url 'notes:home' %}">
          <img src="{% static 'img/logo.png' %}" alt='logo'>
        </a>
        <div class='horizontal_decoration_line'></div>
        <ul class='header__list'>
          <li><span></span><a href="{% url 'notes:home' %}" class='header__link'>{% trans 'Home' %}</a></li>
          <li><span></span><a href="{% url 'notes:add' %}" class='header__link add_note_link'>{% trans 'Add Note' %}</a></li>
          <li><span></span><a href="{% url 'tags:tags' %}" class='header__link'>{% trans 'Tags' %}</a></li>
          <li><span></span><a href="{% url 'actions:note_feed' %}" class='header__link'>{% trans 'Feed' %}</a></li>
          {% if request.user.is_authenticated %}
            <li><span></span><a href="{% url 'notes:personal' %}" class='header__link'>{% trans 'Personal Notes' %}</a></li>
          {% endif %}
        </ul>
        <div class='horizontal_decoration_line'></div>
        <ul class='header__list'>
          <li>
            <span></span>
            <a href="{% url 'notes:search' %}" class='header__link'>
              <i class="bi bi-search"></i>
              {% trans 'Search' %}
            </a>
          </li>
          <li class="dropdown">
            {% if not request.user.is_authenticated %}
              <span></span><a href="{% url 'account_login' %}" class='header__link'>{% trans 'Sign In' %}</a>
            {% else %}
              <a class="dropdown-toggle text-decoration-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ request.user.profile.avatar.url }}" width="27" height="27" class="rounded-circle">
              </a>
            {% endif %}
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'user:user_profile' request.user %}"><i class="bi bi-person-circle"></i> {% trans 'Profile' %}</a></li>
              <li><a class="dropdown-item" href="{% url 'user:edit_user' %}"><i class="bi bi-gear"></i> {% trans 'Account settings' %}</a></li>
              <li><a class="dropdown-item" href="{% url 'favourites' %}"><i class="bi bi-bookmark-heart-fill"></i> {% trans 'Bookmarks' %}</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}"><i class="bi bi-box-arrow-in-left"></i> {% trans 'Logout' %}</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

  <div class="collapse navbar-collapse" id="navbar-list-4">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Dashboard</a>
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>   
    </ul>
  </div>
</nav>
