{% load i18n %}

<button class="btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-filter"></i>
</button>
<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="?order=relevant"><i class="bi bi-hearts"></i> {% trans "Relevant" %}</a></li>
    <li><a class="dropdown-item" href="?order=-datetime_created"><i class="bi bi-sort-down"></i> {% trans "Recent" %}</a></li>
    <li><a class="dropdown-item" href="?order=views"><i class="bi bi-sort-down-alt"></i> {% trans "Most views" %}</a></li>
    <li><a class="dropdown-item" href="?order=likes"><i class="bi bi-hearts"></i> {% trans "Most liked" %}</a></li>
</ul> 