<!-- Reset password email message -->
{% extends "emails/base_email.html" %}
{% load i18n %}

{% trans "Password Reset" %}
{% block message %}{% autoescape off %}<p class="fs-5 mt-4">{% blocktrans %}You're receiving this e-mail because you or someone else has requested a password for your user account.
It can be safely ignored if you did not request a password reset. Click the button below to reset your password.{% endblocktrans %}
</p>
<a href="{{ password_reset_url }}" class="btn px-3 mt-5" target="_blank">{% trans "Reset password" %}</a>

<p class="mt-5">
    {% trans "If the button above doesn’t work, paste this link into your web browser:" %}<br>
    <a href="{{ password_reset_url }}" target="_blank">{{ password_reset_url }}</a>
</p>
<p class="text-secondary mt-5">{% trans "If you did not make this request, you can safely ignore this email." %}</p>

{% if username %}

{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}{% endif %}{% endautoescape %}{% endblock %}
