<!doctype html>
<!-- Template link: https://codepen.io/THEORLAN2/pen/zqOLXQ by @THEORLAN2 (Dany Santos)-->
{% load static %}
{% load i18n %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'Page not found' %}</title>

    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <link rel="stylesheet" href="../static/css/404.css">
  </head>
  <body>
    <div class="cont_principal">
        <div class="cont_error">
          
        <h1 class="stitle">{% trans "We can't find that page" %}</h1>  
          <p class="smsg">{% trans 'We think you just went to a non-existing page.' %}
            <a href="{{ request.META.HTTP_REFERER }}">{% trans 'Go back.' %}</a></p>
          </div>
        <div class="cont_aura_1"></div>
        <div class="cont_aura_2"></div>
    </div>
    
    <script>
        window.onload = function(){
            document.querySelector('.cont_principal').className= "cont_principal cont_error_active";  
        }
    </script>
  </body>
</html>
