<!-- Home page, note list -->
{% extends 'layouts/base_cols.html' %}

{% load static %}
{% load i18n %}


{% block center %}
<div style="max-width: 700px; margin: auto;">
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        {% include 'layouts/note_order.html' %}
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link active tablink text-secondary" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">{% trans "Public" %}</button>
    </li>
    {% if request.user.is_authenticated %}
    <li class="nav-item" role="presentation">
        <button class="nav-link tablink text-secondary" id="following-tab" data-bs-toggle="tab" data-bs-target="#following-tab-pane" type="button" role="tab" aria-controls="following-tab-pane" aria-selected="false">{% trans "Following" %}</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link tablink text-secondary" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">{% trans "My topics" %}</button>
    </li>
    {% endif %}
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        {% include 'content/note_list_for_layout.html' %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="tab-pane fade" id="following-tab-pane" role="tabpanel" aria-labelledby="following-tab" tabindex="0">
        {% for note in following_notes %}
            {% include 'content/note_list_layout.html' %}
        {% endfor %}
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        {% for note in tags_notes %}
            {% include 'content/note_list_layout.html' %}
        {% endfor %}
    </div>
    {% endif %}
</div>
</div>
{% endblock %}


{% block sidebar %}
{% include 'layouts/sidebar/search_form.html' %}
{% include 'layouts/sidebar/source_types.html' %}
{% include 'layouts/sidebar/more_from_noted.html' %}
<div class="mt-5">
    <h6 style="font-size: 16px;">{% trans "Recommended topics" %}</h6>
    <div class="mt-3">
        {% for tag in tags %}
        <a href="{% url 'tags:tag' slug=tag.slug %}" class="text-decoration-none text-dark">
        <span class="badge tag rounded-pill text-bg-secondary p-2 m-1 fs-6 fw-normal">{{ tag }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% include 'layouts/sidebar/footer.html' %}
<div class="mb-5"></div>
{% endblock %}