<!-- Home page, note list -->
{% extends 'layouts/base_cols.html' %}

{% load static %}
{% load i18n %}


{% block center %}
<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        {% include 'layouts/note_order.html' %}
    </li>
    <li class="nav-item">
        <a class="nav-link tablink active text-secondary" aria-current="page" href="{% url 'content:home' %}">{% trans "Public" %}</a>
    </li>
    {% comment %} <li class="nav-item">
        <a class="nav-link tablink text-secondary disable" href="#">{% trans "Following" %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link tablink text-secondary disable" href="#">{% trans "My tags" %}</a>
    </li> {% endcomment %}
</ul>

{% include 'content/note_list_for_layout.html' %}
{% endblock %}


{% block sidebar %}
<img class="mt-5" src="{% static 'img/pngwing.com.png' %}" width="60px;" style="margin-left: 186px;" />   
{% include 'layouts/sidebar/search_form.html' %}
{% include 'layouts/sidebar/source_types.html' %}
{% include 'layouts/sidebar/more_from_noted.html' %}
<div class="mt-5">
    <h6>{% trans "Recommended topics" %}</h6>
    <span>
        <a href="#" class="text-decoration-none text-dark">
        <span class="badge rounded-pill text-bg-secondary p-2 m-1 fs-6 fw-normal">Successess</span>
        </a>
        <span class="badge rounded-pill text-bg-secondary p-2 m-1 fs-6 fw-normal">Success</span>
        <span class="badge rounded-pill text-bg-secondary p-2 m-1 fs-6 fw-normal">Succes</span>
        <span class="badge rounded-pill text-bg-secondary p-2 m-1 fs-6 fw-normal">Success</span>
        <span class="badge rounded-pill text-bg-secondary p-2 m-1 fs-6 fw-normal">Success</span>
        <span class="badge rounded-pill text-bg-secondary p-2 m-1 fs-6 fw-normal">Succes</span>
    </span>
</div>
{% include 'layouts/sidebar/footer.html' %}
<div class="mb-5"></div>
{% endblock %}