<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Техническое обслуживание</title>
    <style>
        body { text-align: center; padding: 150px; }
        h1 { font-size: 50px; }
        body { font: 20px Helvetica, sans-serif; color: #333; }
        article { display: block; text-align: left; width: 650px; margin: 0 auto; }
        a { color: #dc8100; text-decoration: none; }
        a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
<article>
    <h1>Сайт скоро откроется!</h1>
    <div>
        <p>
            В настоящий момент на сайте проводятся технологические работы.
            Пожалуйста, зайдите через некоторое время. Приносим извинения за неудобства.
        </p>
        <p>&mdash; Ваш <span id="site-name">сайт</span></p>
    </div>
</article>
<script type="text/javascript">
    var host = window.location.hostname;
    var site = document.getElementById('site-name');
    site.innerHTML = host;
</script>
</body>
</html>
