<!doctype html>
<!-- Template link: https://codepen.io/THEORLAN2/pen/zqOLXQ by @THEORLAN2 (Dany Santos)-->
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The service works</title>

    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    <link rel="stylesheet" href="../static/css/404.css">
  </head>
  <body>
    <div class="cont_principal">
        <div class="cont_error">
          
        <h1 class="stitle">The service works.</h1>  
          <p class="smsg">We are improving service for you or something broke.
            <a href="https://noted-eu.herokuapp.com/notes/">Go to demo.</a></p>
          </div>
        <div class="cont_aura_1"></div>
        <div class="cont_aura_2"></div>
    </div>
    
    <script>
        window.onload = function(){
            document.querySelector('.cont_principal').className= "cont_principal cont_error_active";  
        }
    </script>
  </body>
</html>
