{% extends "account/base.html" %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
<div class="row" style="max-width: 80%;">

<h1 class="text-center">Sign Out</h1>

<p class="text-center">Are you sure you want to sign out?</p>

<form class="text-center" method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-danger mt-3" type="submit">Sign Out</button>
</form>

</div>
</div>
{% endblock %}
