{% extends 'user/account/base.html' %}


{% load static %}

{% block head_title %}{% firstof user.first_name user.username %}{% endblock %}

{% block content %}
<div class='container'>
    <h2 class="fw-bold text-center">
        User Profile
    </h2>
    <div class='row mt-4 d-flex justify-content-center'>
        <div class="col-md-2">
            <!---->
        </div>
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{{ user.profile.avatar.url }}">
                <span class="font-weight-bold">{% firstof user.first_name user.username %}</span>
                <span class="text-black-50">{{ user.email }}</span>
                <span> </span>
                <span class="mt-2">
                    <!-- Followers button trigger modal -->
                    <a href="#" class="link-secondary text-decoration-none follow-link" data-bs-toggle="modal" data-bs-target="#followersModal">
                        <i class="bi bi-person-hearts"></i>
                        <b class="text-dark followers-count">{{ followers|length }}</b> follower{{ followers.count|pluralize }}
                    </a>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="followersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ user.username }}'s followers</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% for follower in followers %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{{ follower.profile.avatar.url }}" class="rounded" width="30" height="30"/>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="{% url 'user:user_profile' follower.username %}">
                                                    {% firstof follower.first_name follower.username  %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Following button trigger modal -->
                    <a href="#" class="link-secondary text-decoration-none follow-link ps-2" data-bs-toggle="modal" data-bs-target="#followingModal">
                        <i class="bi bi-person-hearts"></i>
                        <b class="text-dark">{{ following|length }}</b> following{{ following.count|pluralize }}
                    </a>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="followingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ user.username }}'s followers</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% for follower in following %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{{ follower.profile.avatar.url }}" class="rounded" width="30" height="30"/>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="{% url 'user:user_profile' follower.username %}">
                                                    {% firstof follower.first_name follower.username  %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                </span>
                <!-- Follow button -->
                {% if request.user != user %}
                    <a href="#" class="btn btn-primary btn-sm mt-3 follow"
                            data-id="{{ user.id }}"
                            data-action="{% if request.user in followers %}un{% endif %}follow">
                        {% if request.user in followers %}
                            Unsubscribe
                        {% else %}
                            Follow
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-5">
            <div class="row g-3">
                <div class="col-md-12">
                    <label for="form-username" class="form-label">Username</label>
                    <input type="text" class="form-control bg-white" value="{{ user.username }}" disabled>
                </div>
                <div class="col-md-12">
                    <label for="form-name" class="form-label">Name</label>
                    <input type="text" class="form-control bg-white" value="{{ user.first_name }}" disabled>
                </div>
                <div class="col-md-12">
                    <label for="form-bio" class="form-label">Bio</label>
                    <textarea type="text" class="form-control bg-white" rows="7" disabled>
                        {{ profile.bio|safe }}
                    </textarea>
                    <p>Total user likes <span class="badge bg-danger mt-2">{{ num_likes }}</span></p>
                    <p>Joined <b>Note</b><img src="{% static 'img/logo.png' %}" alt='logo' weight="20" height="20"> {{ user.date_joined|date }}</p>
                </div>
                {% if request.user == user %}
                    <div class="col-md-12">
                        <a href="{% url 'user:edit_user' %}" class="btn btn-primary px-3">Edit</a>
                    </div>
                {% endif %}
                {% if notes %}
                    <div class="col-md-12 mb-5">
                        <h2 class="fw-bold text-center mt-3">
                            Notes
                        </h2>
                        {% include 'layouts/list.html' %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2">
            <!---->
        </div>
    </div>
</div>

<!-- For handling Cookie with js -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
{% endblock %}


{% block extra_js %}
<span id="post_url" hidden>{% url 'user:user_follow' %}</span>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}