{% extends 'user/account/base.html' %}


{% load static %}

{% block head_title %}{% firstof user.first_name user.username %}{% endblock %}

{% block content %}
<div class='container'>
    <h2 class="fw-bold text-center">
        User Profile
    </h2>
    <div class='row mt-4 d-flex justify-content-center'>
        <div class="col-md-2">
            <!---->
        </div>
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="{{ request.user.profile.avatar.url }}">
                <span class="font-weight-bold">{% firstof request.user.first_name request.user.username %}</span>
                <span class="text-black-50">{{ request.user.email }}</span>
                <span> </span>
                <span class="mt-2">
                    <!-- Followers button trigger modal -->
                    <a href="#" class="link-secondary text-decoration-none follow-link" data-bs-toggle="modal" data-bs-target="#followersModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-hearts" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
                        </svg>
                        <b class="text-dark followers-count">{{ followers|length }}</b> follower{{ followers.count|pluralize }}
                    </a>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="followersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ user.username }}'s followers</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% for follower in followers %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img src="{{ follower.profile.avatar.url }}" class="rounded" width="30" height="30"/>
                                            </div>
                                            <div class="col-md-3">
                                                <a href="{% url 'user:user_profile' follower.username %}">
                                                    {% firstof follower.first_name follower.username  %}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                </span>
                {% if request.user != user %}
                    <a href="#" class="btn btn-primary btn-sm mt-3 follow"
                            data-id="{{ user.id }}"
                            data-action="{% if request.user in followers %}un{% endif %}follow">
                        {% if request.user in followers %}
                            Unsubscribe
                        {% else %}
                            Follow
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-5">
            <div class="row g-3">
                <div class="col-md-12">
                    <label for="form-username" class="form-label">Username</label>
                    <input type="text" class="form-control bg-white" value="{{ user.username }}" disabled>
                </div>
                <div class="col-md-12">
                    <label for="form-name" class="form-label">Name</label>
                    <input type="text" class="form-control bg-white" value="{{ user.first_name }}" disabled>
                </div>
                <div class="col-md-12">
                    <label for="form-bio" class="form-label">Bio</label>
                    <textarea type="text" class="form-control bg-white" rows="7" disabled>
                        {{ profile.bio|safe }}
                    </textarea>
                    <p>Total user likes <span class="badge bg-danger mt-2">{{ num_likes }}</span></p>
                    <p>Joined <b>Note</b><img src="{% static 'img/logo.png' %}" alt='logo' weight="20" height="20"> {{ user.date_joined|date }}</p>
                </div>
                {% if request.user == user %}
                    <div class="col-md-12">
                        <a class="btn btn-primary px-3">Edit</a>
                    </div>
                {% endif %}
                {% if notes %}
                    <div class="col-md-12 mb-5">
                        <h2 class="fw-bold text-center mt-3">
                            Notes
                        </h2>
                        {% include 'layouts/list.html' %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2">
            <!---->
        </div>
    </div>
</div>

<!-- For handling Cookie with js -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
{% endblock %}


{% block extra_js %}
<script>
    // Show notes without scrolling
    const animItems = document.querySelectorAll('._anim-items');
    for (let index = 0; index < animItems.length; index++) {
        const animItem = animItems[index];
        animItem.classList.add('_active');
     }

  // Set CSRF token to "X-CSRFToken" header
  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

$(document).ready(function () {
     // Ajax request -follow/unfollow a user-
     $('a.follow').click(function(e) {
        e.preventDefault();
        console.log('yes!')
        $.post('{% url "user:user_follow" %}', 
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data) {
                if (data['status'] == 'ok') {
                    let previous_action = $('a.follow').data('action');

                    // toggle data-action
                    $('a.follow').data('action',
                        previous_action == 'follow' ? 'unfollow': 'follow');
                    // toggle link text
                    $('a.follow').text(
                        previous_action == 'follow' ? 'Unfollow' : 'Follow'
                    );

                    // update total followers
                    let previous_followers = parseInt(
                        $('b.followers-count').text()
                    );
                    $('b.followers-count').text(
                        previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1
                    );
                }
            }
        );
    });
});
</script>
{% endblock %}