.badge {
    font-weight: 400;
}
.badge:hover {
    color: black !important;
    background-color: rgb(150, 150, 150) !important;
}
.tag {
    color: black !important;
    background-color: rgb(202, 202, 202) !important;
}
.source-title:hover {
    color: black !important;
}
.note-stat:hover {
    background-color: rgb(240, 240, 240);
}
.color-grey {
    color: rgb(145, 144, 144);
}
.github-h:hover {
    color: rgb(0, 0, 0);
}
.google-h:hover {
    color: rgb(199, 0, 0);
}
.telegram-h:hover {
    color: rgb(0, 119, 255);
}
.twitter-h:hover {
    color: rgb(0, 119, 255);
}
.whatsapp-h:hover {
    color: rgb(23, 172, 23);
}
.link-h:hover {
    color:black;
}



/* LOGIN */
.social-sign {
    border-color:rgb(145, 144, 144);
}
.social-sign:hover {
    color: black;
    background-color: white;
    border-color: black;
}