<!-- Create new note -->
{% extends 'layouts/add_edit_note_base.html' %}

<!-- https://github.com/django-crispy-forms/django-crispy-forms -->
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'Create Note' %}{% endblock %}


{% block main %}
<div class="row d-flex justify-content-center" style="margin-top: 110px;">
  <div class="col-md-7">
    <h2 class="text-center">{% trans 'New Note' %}</h2>
    <form method="post" id="add" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-primary btn-lg" type="submit">
          {% trans 'Create Note' %}
        </button>
      </div>
    </form>
  </div>
</div> 
{% endblock %}
