{% extends 'layouts/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create Note{% endblock %}

{% block extrahead %}
    <script src="http://code.jquery.com/jquery-3.6.0.slim.min.js" charset="utf-8"></script>
    {{ form.media }}
{% endblock %}

{% block main %}
    <div class="row mt-5">
        <form method="post" id="add" novalidate>{% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-success btn-lg" type="submit">
                    Create Note
                </button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/delete_mdefield_duplicate.js' %}"></script>
{% endblock %}
