<!-- Note details and comments for a note -->
{% extends 'layouts/base.html' %}

{% load static %}
{% load mptt_tags %}
{% load social_share %}

{% block title %}{{ note.title }}{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/social_icons.css' %}">
{% endblock %}

{% block main %}
<div class="container-fluid" style="margin-top: 60px;">
<div class="row">

  <!-- Title -->
  <p class="fs-3 text-center mt-5">{{ note.title }}</p>

  <!-- Summary -->
  <p class="text-secondary text-center">{{ note.summary }}</p>

  <!-- Note attributes -->
  <div class="d-flex bd-highlight mt-3 mb-3 fw-light">
    <div class="p-2 bd-highlight text-secondary">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
          <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
          <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        {{ note.datetime_created }}
      </span>
    </div>
    {% if not note.anonymous %}
      <div class="p-2 bd-highlight text-secondary">
        <a href="{% url 'notes:by_user' username=note.author %}" class="text-decoration-none">&nbsp;&nbsp;&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
          </svg>
          {{ note.author }}⠀
        </a>
      </div>
    {% endif %}

    <!-- Source -->
    {% if note.source %}
      <div class="p-2 bd-highlight">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
        </svg>
        <a href="{{ note.source }}" target="_blank">Source</a>
      </div>
    {% endif %}

    <!-- Anon/Private Badges -->
    {% if request.user == user %}
      {% if note.private %}
        <span class="badge badge-private ms-1 mb-1" style="max-height: 20px; margin-top: 10px;">Private</span>
      {% endif %}
      {% if note.anonymous %}
        <span class="badge badge-anon ms-1 mb-1" style="max-height: 20px; margin-top: 10px;">Anonymous</span>
      {% endif %}
    {% endif %}

    <!-- Control buttons (update/delete) -->
    <div class="ms-auto p-2 bd-highlight">
      {% if user == note.author %}
        <div class="d-flex justify-content-end">
          <form action="{% url 'update' slug=note.slug %}" method="get">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-info btn-sm">
              Edit Note
            </button>
          </form>
          <form action="{% url 'delete' slug=note.slug %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm ms-2" onclick="return confirm('Are you sure you want to delete the note?');">
              Delete Note
            </button>
          </form>
        </div>
      {% endif %}
    </div>
  </div>

  <!-- Tags -->
  <p class="d-flex flex-wrap" style="margin-top: 2px;">
    {% for tag in note.tags.all %}
      <a href="{% url 'tagged' tag_slug=tag.slug %}" class="badge tag-badge ms-1 mb-1">{{ tag }}</a>
    {% endfor %}
  </p>
</div>

<hr class="mt-2">

<!-- Body -->
<div class="row m-auto" style="max-width: 95%;">
  <div class="col-10 offset-1">
    <p>{{ note.body_html | safe }}</p>
  </div>
</div>

<!-- Give a like -->
{% with total_likes=note.users_like.count users_like=note.users_like.all %}
<div>
  <a href="#" id="a-like" class="like btn shadow-none"
      data-id="{{ note.id }}"
      data-action="{% if request.user in users_like %}un{% endif%}like">
  {% if request.user in users_like %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
    </svg>
  {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
    </svg>
  {% endif %}
  </a>
  <span class="total_likes pt-1">{{ total_likes }}</span><span> like{{ total_likes|pluralize }}</span>
</div>
{% endwith %}

<!-- Share buttons
--   Link: https://codepen.io/eskside_design/pen/RNemLB/
-->
{% include 'layouts/social_icons_svg.html' %}
<div class="mt-3">
  <h3>Share this note<hr></h3>
{% post_to_facebook note '<svg role="presentation" class="svg--icon"><use xlink:href="#svg--facebook" /><span class="clip">FACEBOOK</span></svg>' 'share facebook' %}
{% post_to_twitter "{{note.title}}. Check it out!" note '<svg role="presentation" class="svg--icon"><use xlink:href="#svg--twitter" /></svg><span class="clip">TWITTER</span>' 'share twitter' %}
{% post_to_gplus note '<svg role="presentation" class="svg--icon"><use xlink:href="#svg--google" /><span class="clip">GOOGLE +</span></svg>' 'share google' %}
</div>

<!-- Comments -->
{% if note.allow_comments %}
<h3 style="margin-top: 100px;">Comments<hr></h3>
<!-- General comment form -->
<form id="commentGeneralForm" class="m-auto" method="post">
  {{ comment_form.as_p }}
  {% csrf_token %}
  <button type="submit" class="btn btn-primary btn-block float-end px-4">Post</button>
</form>

<!-- Similar notes -->
{% if notes %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed shadow-none border-0 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="animOnScroll()">
        <h3>Similar public notes</h3>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse border-0" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {% include 'layouts/list.html' %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Comments list -->
{% with comments=page_obj total_comments=note.comments.count %}
  {% if total_comments %}
  <h4 class="mt-4">{{ total_comments }} comment{{ total_comments|pluralize }}</h4>
  {% for root_comment in comments %}
    {% with children=root_comment.get_children total_children=root_comment.get_children.count %}
      <div>
        <p class="small m-auto pt-3"><a class="text-decoration-none text-dark" href="{% url 'notes:by_user' username=root_comment.author %}"><b>{{ root_comment.author }}</b></a>&nbsp;<spam class="text-secondary">{{ root_comment.date|date:'d M Y' }}</spam></p>
        <p class="m-auto">{{ root_comment.content }}</p>
        <button id="{{ root_comment.id }}" type="button" class="btn btn-link btn-sm text-decoration-none shadow-none"
          onclick="openCommentForm({{ root_comment.id }}, {{ root_comment.id }})">
          <b>REPLY</b>
        </button>
        {% if total_children %}
          <button type="button" class="btn btn-link text-decoration-none text-uppercase shadow-none" style="font-size: 15px;"
            onclick="expandChildren('childrenComments{{ root_comment.id }}', 'arrow{{ root_comment.id }}')">
            <span id="arrow{{ root_comment.id }}">&#9662;</span><b>&nbsp;&nbsp;{{ total_children }} ANSWER{{ total_children|pluralize }}</b>
          </button>
        {% endif %}
      </div>
      <div id="childrenComments{{ root_comment.id }}" hidden>
          {% for child in children %}
          <div class="children" style="margin-left: 40px;">
            <p class="small m-auto pt-3"><a class="text-decoration-none text-dark" href="{% url 'notes:by_user' username=child.author %}"><b>{{ child.author }}</b></a>&nbsp;<spam class="text-secondary">{{ child.date|date:'d M Y' }}</spam></p>
            <p class="m-auto">{{ child.content }}</p>
            <button id="{{ child.id }}" type="button" class="btn btn-link btn-sm text-decoration-none shadow-none"
              onclick="openCommentForm({{ child.parent.id }}, {{ child.id }})">
              <b>REPLY</b>
            </button>
          </div>
          {% endfor %}
        {% endwith %}
      </div>
  {% endfor %}
{% endif %}
{% endwith %}

<!-- Comments pagination -->
{% include 'layouts/paginator.html' %}

{% endif %} <!-- if the note allow comments -->

</div>
{% endblock %} <!-- main block -->

{% block extrascripts %}
<script src="{% static 'js/comments.js' %}"></script>
<!-- Flow effects for notes cards -->
<script src="{% static 'js/list.js' %}"></script>
<!-- For likes -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

{{ request.user.id|json_script:"user_id" }}
<script>
  const user_id = JSON.parse(document.getElementById('user_id').textContent);

  const like_html = '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">\
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>\
                    </svg>';
  const like_fill_html = '<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">\
                          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>\
                          </svg>';

  // Set CSRF token to "X-CSRFToken" header
  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
  
  $(document).ready(function(){
    $('a.like').click(function(e){
      e.preventDefault();
      if (user_id == null) {  // if user is not logged in
        window.location.href = "{% url 'account_login' %}";
      }
      $.post('{% url "notes:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok') {
          var previous_action = $('a.like').data('action');

          // toggle data-action
          $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');

          // toggle like icon (link text)
          // toggle link text
          $('a.like').html(previous_action == 'like' ? like_fill_html : like_html);

          // update total likes
          var previous_likes = parseInt($('span.total_likes').text());
          $('span.total_likes').text(
            previous_action == 'like' ? previous_likes + 1 : previous_likes - 1
          );
        }
      });
    });
  });


  // Fill like icon if mouse over 
  document.getElementById('a-like').addEventListener('mouseenter', function(e) {
    $('a.like').html(like_fill_html);
  }, true);
  // Clear like icon if mouse out and user didn't like 
  document.getElementById('a-like').addEventListener('mouseleave', function(e) {
    let previous_action = $('a.like').data('action');
    if (previous_action == 'like') { 
      $('a.like').html(like_html);
    }
  }, true);
</script>
{% endblock %}
