{% extends 'layouts/base.html' %}

{% block title %}{{ note.title }}{% endblock %}

{% block main %}

    <h2>{{ note.title }}</h2>
    <a href="{{ note.source }}" target="_blank">Source</a>
    <span> / Note author: {{ note.author.username }}</span>
    <hr>
    <form action="{% url 'delete' slug=note.slug %}" method="post">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Are you sure?');">
            Delete Note
        </button>
    </form>
    <hr>
    <p>{{ note.body }}</p>

{% endblock %}
