{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Personal Notes{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
{% endblock %}

{% block main %}

{% include 'layouts/header.html' %}

<!-- Notes List -->
{% if notes %}
<div class="row ps-5" style="padding-top: 570px;">
  <div class="col-9">
    <h2 class="fw-bold mb-3">{{ order_label }} Personal Notes</h2>
    <p class="orders mb-5">
        <a href="{% url 'notes:home' %}?order=-data">Latest Notes</a>
        <span>⠀</span>
        <a  href="{% url 'notes:home' %}?order=date">Oldest Notes</a>
    </p>
    {% for note in notes %}
        <div class="row mt-5">
            <style type="text/css">
                .card {
                    box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
                    transition: 1s;
                }
                .card:hover {
                    box-shadow: 0 1rem 3rem rgba(0,0,0, .175);
                }
            </style>
            <div class="card rounded border-0" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{ note.title }}</h5>
                    <a href="{% url 'note' slug=note.slug %}" class="stretched-link"></a>
                    <hr/>
                    <p class="fs-6 fw-light">
                        <span>{{ note.date|date:"j M Y P" }}</span>
                        <span>⠀|⠀Author: {{ note.author }}</span>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% else %}
    <h1 class="mt-6 text-center" style="padding-top: 570px;">
        <a href="{% url 'notes:add' %}" class="text-decoration-none">Add First Note</a>
    </h1>
{% endif %}

{% if notes %}
    {% include 'layouts/paginator.html' %}
{% endif %}

{% endblock %}
