<!-- General list of notes on home page -->
{% extends 'layouts/list_base.html' %}

{% load i18n %}

{% block list_header %}{% trans 'Public Notes' %}{% endblock %}

{% block no_notes %}{% include 'layouts/add_note_button.html' %}{% endblock %}

{% block sidebar %}
<div id="sidebar_container" class="col-xl-3">
    {% if most_liked %}
        <ol class="list-group list-group-numbered">
            <li class="sidebar_item_title list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{% trans 'Most liked' %}</div>
            </div>
            </li>
            {% for note in most_liked %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>
                        <a href="{{ note.get_absolute_url }}" class="link-dark">
                            {{ note.title }}
                        </a>
                        {% if note.summary %}
                            <p>
                                <a class="text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseLiked{{ note.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    &#9662;
                                </a>
                            </p>
                            <div class="collapse" id="collapseLiked{{ note.id }}">
                                <div class="card card-body border-0">
                                    {{ note.summary }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <span class="badge bg-primary rounded-pill">{{ note.count }}</span>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    {% if most_commented %}
        <ol class="list-group list-group-numbered mt-4">
            <li class="sidebar_item_title list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{% trans 'Most commented' %}</div>
            </div>
            </li>
            {% for note in most_commented %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>
                        <a href="{{ note.get_absolute_url }}" class="link-dark">
                            {{ note.title }}
                        </a>
                        {% if note.summary %}
                            <p>
                                <a class="text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseCommented{{ note.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    &#9662;
                                </a>
                            </p>
                            <div class="collapse" id="collapseCommented{{ note.id }}">
                                <div class="card card-body border-0">
                                    {{ note.summary }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <span class="badge bg-primary rounded-pill">{{ note.count }}</span>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
</div>
{% endblock %}