<!-- Search notes form and answers -->
{% extends 'layouts/list_base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block search %}
<h2>{% trans 'Search' %}</h2>
<form method="get" class="d-flex mb-5">
    {{ form|crispy }}
    <button type="submit" class="btn btn-outline-primary">{% trans 'search' %}</button>
</form>
{% endblock %}

{% if request.GET.query %}
    {% block list_header %}
        {% with notes_total=notes.count %}
            <h3 class="mb-3">{{ notes_total }}
              {% blocktranslate count notes_total=notes_total %}
                answer was found for your query:
              {% plural %}
                answers were found for your query:
              {% endblocktranslate %}
            </h3>
        {% endwith %}
    {% endblock %}
{% endif %}